- content_for :title, "Veche.Net — The Republic of Novegrad — Employment"

.content-block
  %h1 Employment

  .content-block-content
    %p In 2004, the labor force was estimated at 24.4 million. In that year, an estimated 63% worked in the services sector, 24% in industry, and 13% in agriculture. The unemployment rate was 8.4%.
    %p The two largest trade unions are the Novegradian Labor Confederation and the Organization of Trade Unions, together representing around 80% of the unionized workforce. The former is the successor to the Soviet Confederation of Labor. Approximately 40% of the workforce is unionized. The right to strike is protected by law, although the government may step in if the strike becomes too disruptive.
    %p Minimum wage is 445 marks per month (USD 95.23, EUR 68.98). The maximum work week is set at 40 hours with a mandatory 24 hour rest period, though many poorer laborers may work ten hour days or more. The minimum working age is 16 for non-hazardous jobs, though 15-year old children may work with parental permission. Health and safety standards are strict in theory, but in practice they are hard to enforce in some of the more remote towns, although the process of modernizing aging facilities is still underway. Throughout western Novegrad and in larger cities in the east enforcement is stringent.
