- content_for :title, "Veche.Net — The Republic of Novegrad — Foreign Business"

.content-block
  %h1 Foreign Business

  .content-block-content
    %p The Great Thaw allowed many European businesses to invest in Novegrad for the first time, and many of the first to establish themselves remain dominant today. The German auto company BMW, for example, was one of the first foreign businesses in Novegrad, and to this day it remains the primary car manufacturer behind the native Novauto.
    %p American businesses for the most part established themselves rather late, so their presence is more limited. However, many names well known in the West will also be seen in Novegrad, such as "Makdónaldse" or "Pépsi".
