- content_for :title, "Veche.Net — The Republic of Novegrad — Economy"

.content-block
  %h1 The Economy of Novegrad

  .content-block-content
    %p The Republic of Novegrad has a highly-industrialized free market economy. Most industry is found in mining and manufacturing, as Novegrad has a great wealth of natural resources, as well as in the service sector. Although for many years Novegradian products were more or less limited to the Soviet bloc, in recent years a number of businesses have been moving into Europe and to a lesser extent America and Asia. Novegrad has one of the highest GDPs in Eastern Europe.
