- content_for :title, "Veche.Net — The Republic of Novegrad — Major Industries"

.content-block
  %h1 Major Industries

  .content-block-content
    %section
      %h2 Manufacturing
      %p Novegrad has a particularly advanced finished-product manufacturing sector, producing everything from daily supplies to cars, aeroplanes, and computers. Most manufacturing is still destined for domestic markets, but Novegradian goods are slowly making their way westward into Europe. Most major cities have a large manufacturing base.
      %p After the Second World War the country underwent rapid industrialization. During the Great Thaw period (in the 1980s) regulations became stricter, requiring higher safety precautions and cleaner facilities to replace the older Soviet-era factories. The process is still underway, but all new factories and most older factories now generate much less pollution than previously. The process is slower in the more isolated factory cities of the east.

    %section
      %h2 Extraction
      %p Extraction, or mining, is a vital industry in most of the frontier regions, further from the industrial core of the Republic. Of particular importance are the industrial metals (such as iron and copper) and energy resources (oil and natural gas). Major mining centers are located in the Kóla Peninsula, Ural Mountains, and in the far northeast on the edge of the Central Siberian Plateau. Major oil and gas deposits are located in Siberia and in northern Komi.
      %p In the far east, along the edge of the Central Siberian Plateau, the primary mined products include nickel, copper, cobalt, platinum, palladium, and coal. The Urals are known for bauxite, beryllium, cobalt, copper, iron ore, lead, magnesite, nickel, titanium, vanadium, zinc, asbestos, bismuth, potash, soda ash, talc, and vermiculite. The Kóla peninsula has large deposits of cobalt, copper, nickel, niobium, rare-earth metals, phosphate, and tantalum. Mining is more limited in other parts of the country, although Estonia produces a significant amount of oil shale.

    %section
      %h2 Energy
      %p Novegrad has plentiful oil, coal, and gas deposits in the east, and is a major supplier of all three to Europe. However, these account for less than half of Novegrad's total energy output. 42% of the total electricity generated comes from nuclear power plants, while approximately 16% comes from hydropower. The Novegradian Ministry of Energy, Novenérgia, hopes to continue the growth of the non-fossil fuel energy sector.

    %section
      %h2 Agriculture
      %p Much of the Novegradian southwest consists of farmland, and is the source of most crops produced in the country. Much of the north and far east are heavily dependent on imported foodstuffs, primarily from Russia or from western Novegrad. The main crops include wheat, barley, oats, and potatoes. Livestock also forms a large part of the agricultural sector. Marine fishing is a vital industry in many coastal towns in the north.

    %section
      %h2 Entertainment and Tourism
      %p The main destinations for foreign tourists are the cities of Novegráde Velíkei, Néugrade, Tórge, Revéle, and Ríga. They are known for their rich histories, culture, sights, shops, and nightlife. Those more interested in nature frequently visit other parts of Finland and, increasingly, Karelia.
      %p Vacationing among Novegradian residents is quite different. The Finnish town of Hánko and the Estonian city of Pernáu are popular seaside resorts. Tihuíne and Ostáśkou are known for being sizable cities with a very laid back attitude, that are also located in the middle of natural beauty. Many Novegradian historical sites are within a short distance from the cities of Pleskóve, Stáraia Rússa, Iamográde, and Víborge.
      %p Tourism east of Vóloğda is thus far very undeveloped. The major eastern and northern cities such as Cernográde and Arhánjeiske are not major tourist centers, although the situation is slowly changing in the more heavily developed Siberian southwest as cities move away from an industry-based economy toward a service-based one. Turaúle and Turíneske are in particular known as major centers of the new Siberian culture.

    %section
      %h2 Military
      %p Under the Soviet government military production was one of the largest industries in Novegrad. Since the Great Thaw this situation has been changing rapidly as many old factories converted to civilian production. Many companies continue in both capacities, such as the aircraft manufacturer Leióneu, which produces both military jets and commercial airliners for Novavia and other Novegradian airlines.

    %section
      %h2 Services
      %p The service sector of the economy has taken off since the time of the Great Thaw, particularly in the major cities.
