- content_for :title, "Veche.Net — The Republic of Novegrad — Local Business"

.content-block
  %h1 Local Business

  .content-block-content
    %p Since the Great Thaw period, private businesses in Novegrad have expanded rapidly. However, the government frequently retains a large share in all "vital" industries, including transportation, oil, electricity, and communications, sometimes granting monopolies.
