- content_for :title, "Veche.Net — The Republic of Novegrad — Natural Resources"

.content-block
  %h1 Natural Resources

  .content-block-content
    %section
      %h2 Petroleum and Natural Gas
      %p The east of Novegrad contains large deposits of oil and gas. Extraction dominates the economies of Pečarouskáia and Śibireskáia oblosts, although deposits of varying size are found throughout the eastern territories. Much of these resources are refined and then sold to Europe.

    %section
      %h2 Coal
      %p There is some coal mining in the northern part of Pečarouskáia, but outside of this region Novegrad has few coal reserves. Much of this coal basin has yet to be tapped, however.

    %section
      %h2 Other Metals and Minerals
      %p Novegrad has three major mining regions. The oldest is the Ural mountain range region, mined large-scale since the 19th century. Particularly valuable in these region are the large deposits of iron and nickel, as well as the precious metals gold, silver, and platinum. The central Kóla peninsula (Koleskáia oblost) has been mined since the early 19th century, as it has large amounts of industrially vital ores, including iron, copper, nickel, aluminium, and various apatites. The interior of Karelia, part of the same geologic province, is only beginning to be mined.
      %p The last major mining region is the extreme northeast of Novegrad, which includes a small section of the Central Siberian Plateau, where nickel, copper, cobalt, platinum, and palladium are mined. However, this region is very sparsely populated. Most mining activities here are directed out of the city of Suětlogóreske.

    %section
      %h2 Forests
      %p Vast forests cover a large part of Novegradian territory, from the Baltic Sea to Siberia. Many of the ancient forests in western Novegrad have been cut down to make way for cities, although large forests still remain, particularly in Estonia, Karelia, central Finland, and between Novegráde Velíkei and Vóloğda. Much of the territory to the east of Vóloğda is still forested as well, including the protected virgin forests of northern Komi, the largest such forest in all of Europe. The forests of Novegrad are an important source of many types of plants and animals in addition to timber.

    %section
      %h2 Rivers
      %p The entirety of Novegrad is criss-crossed by a large network of rivers. Novegradian civilization grew up around these river systems, and they were used then and continue to be used today as major arteries for trade. Even regions hundreds of miles from any shoreline have access to open ocean via the major navigable rivers. The rivers are also a major source of fish and several types of shellfish, and of hydropower.

    %section
      %h2 Land
      %p Novegrad covers a vast area and many different types of terrain. However, only a small part of it is usable as productive farmland. The far southwest is very heavily agricultural, with much of the land between cities consisting of farms.
