#sandhiDiv
  %table
    %tr
      %th
      %th &nbsp;p&nbsp;
      %th &nbsp;b&nbsp;
      %th &nbsp;t&nbsp;
      %th &nbsp;d&nbsp;
      %th &nbsp;k&nbsp;
      %th &nbsp;g&nbsp;
      %th &nbsp;q&nbsp;
      %th &nbsp;f&nbsp;
      %th &nbsp;s&nbsp;
      %th &nbsp;z&nbsp;
      %th &nbsp;ʃ&nbsp;
      %th &nbsp;ʒ&nbsp;
      %th &nbsp;x&nbsp;
      %th &nbsp;γ&nbsp;
      %th &nbsp;h&nbsp;
      %th &nbsp;m&nbsp;
      %th &nbsp;n&nbsp;
      %th &nbsp;ŋ&nbsp;
      %th &nbsp;ts&nbsp;
      %th &nbsp;dz&nbsp;
      %th &nbsp;tʃ&nbsp;
      %th &nbsp;dʒ&nbsp;
      %th &nbsp;r&nbsp;
      %th &nbsp;l&nbsp;
      %th &nbsp;w&nbsp;
      %th &nbsp;j&nbsp;
    %tr
      %th &nbsp;p&nbsp;
      %td pp
      %td.assimilated bb
      %td pt
      %td.assimilated bd
      %td pk
      %td.assimilated bg
      %td pq
      %td.assimilated ff
      %td ps
      %td.assimilated bz
      %td pʃ
      %td.assimilated bʒ
      %td px
      %td.assimilated bγ
      %td.assimilated p
      %td.assimilated mm
      %td.assimilated mn
      %td.assimilated bg
      %td pts
      %td.assimilated bdz
      %td ptʃ
      %td.assimilated bdʒ
      %td.assimilated fr
      %td.assimilated fl
      %td.assimilated bγ
      %td.assimilated pp
    %tr
      %th &nbsp;b&nbsp;
      %td.assimilated pp
      %td bb
      %td.assimilated pt
      %td bd
      %td.assimilated pk
      %td bg
      %td.assimilated pq
      %td.assimilated bb
      %td.assimilated ps
      %td bz
      %td.assimilated pʃ
      %td bʒ
      %td.assimilated px
      %td bγ
      %td.assimilated b
      %td.assimilated mm
      %td.assimilated mn
      %td.assimilated bg
      %td.assimilated pts
      %td bdz
      %td.assimilated ptʃ
      %td bdʒ
      %td br
      %td bl
      %td.assimilated bγ
      %td.assimilated bb
    %tr
      %th &nbsp;t&nbsp;
      %td tp
      %td.assimilated bb
      %td tt
      %td.assimilated dd
      %td tk
      %td.assimilated gg
      %td tq
      %td tf
      %td.assimilated ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td tx
      %td.assimilated γγ
      %td.assimilated t
      %td.assimilated nm
      %td.assimilated nn
      %td.assimilated tk
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tr
      %td.assimilated ll
      %td.assimilated tt
      %td.assimilated s
    %tr
      %th &nbsp;d&nbsp;
      %td.assimilated tp
      %td.assimilated bb
      %td.assimilated tt
      %td dd
      %td.assimilated tk
      %td.assimilated gg
      %td.assimilated tq
      %td.assimilated tf
      %td.assimilated ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td.assimilated tx
      %td.assimilated γγ
      %td.assimilated d
      %td.assimilated nm
      %td.assimilated nn
      %td.assimilated gg
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td dr
      %td.assimilated ll
      %td.assimilated dd
      %td.assimilated z
    %tr
      %th &nbsp;k&nbsp;
      %td kp
      %td.assimilated gb
      %td kt
      %td.assimilated gd
      %td kk
      %td.assimilated gg
      %td.assimilated qq
      %td kf
      %td ks
      %td.assimilated gz
      %td kʃ
      %td.assimilated gʒ
      %td.assimilated kk
      %td.assimilated γγ
      %td.assimilated k
      %td.assimilated ŋm
      %td.assimilated ŋn
      %td.assimilated ŋŋ
      %td kts
      %td.assimilated gdz
      %td ktʃ
      %td.assimilated gdʒ
      %td kr
      %td kl
      %td.assimilated k
      %td.assimilated tʃ
    %tr
      %th &nbsp;g&nbsp;
      %td.assimilated gb
      %td gb
      %td.assimilated kt
      %td gd
      %td.assimilated kk
      %td gg
      %td.assimilated qq
      %td.assimilated kf
      %td.assimilated ks
      %td gz
      %td.assimilated kʃ
      %td gʒ
      %td.assimilated γγ
      %td.assimilated γγ
      %td.assimilated g
      %td.assimilated ŋm
      %td.assimilated ŋn
      %td.assimilated ŋŋ
      %td.assimilated kts
      %td gdz
      %td.assimilated ktʃ
      %td gdʒ
      %td gr
      %td.assimilated γl
      %td.assimilated g
      %td.assimilated dʒ
    %tr
      %th &nbsp;q&nbsp;
      %td qp
      %td qb
      %td qt
      %td qd
      %td.assimilated kk
      %td.assimilated gg
      %td qq
      %td qf
      %td qs
      %td qz
      %td qʃ
      %td qʒ
      %td.assimilated qq
      %td.assimilated γγ
      %td.assimilated q
      %td.assimilated γm
      %td.assimilated γn
      %td.assimilated qq
      %td qts
      %td qdz
      %td qtʃ
      %td qdʒ
      %td qr
      %td.assimilated γl
      %td.assimilated γ
      %td.assimilated k
    %tr
      %th &nbsp;f&nbsp;
      %td fp
      %td.assimilated bb
      %td ft
      %td.assimilated dd
      %td fk
      %td.assimilated gg
      %td fq
      %td ff
      %td fs
      %td.assimilated zz
      %td fʃ
      %td.assimilated ʒʒ
      %td fx
      %td.assimilated γγ
      %td.assimilated f
      %td fm
      %td fn
      %td.assimilated fk
      %td fts
      %td.assimilated dz
      %td ftʃ
      %td.assimilated dʒ
      %td fr
      %td fl
      %td.assimilated fx
      %td.assimilated ff
    %tr
      %th &nbsp;s&nbsp;
      %td sp
      %td.assimilated zb
      %td st
      %td.assimilated zd
      %td sk
      %td.assimilated zg
      %td sq
      %td sf
      %td ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td sx
      %td.assimilated zγ
      %td.assimilated s
      %td.assimilated zm
      %td.assimilated zn
      %td.assimilated zg
      %td.assimilated ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td sr
      %td sl
      %td.assimilated ss
      %td.assimilated ʃ
    %tr
      %th &nbsp;z&nbsp;
      %td.assimilated sp
      %td zb
      %td.assimilated st
      %td zd
      %td.assimilated sk
      %td zg
      %td.assimilated sq
      %td.assimilated sf
      %td.assimilated ss
      %td zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td.assimilated sx
      %td zγ
      %td.assimilated z
      %td zm
      %td zn
      %td.assimilated zg
      %td.assimilated ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td zr
      %td zl
      %td.assimilated zz
      %td.assimilated ʒ
    %tr
      %th &nbsp;ʃ&nbsp;
      %td ʃp
      %td.assimilated ʒb
      %td ʃt
      %td.assimilated ʒd
      %td ʃk
      %td.assimilated ʒg
      %td ʃq
      %td ʃf
      %td.assimilated ss
      %td.assimilated zz
      %td ʃʃ
      %td.assimilated ʒʒ
      %td ʃx
      %td.assimilated ʒγ
      %td.assimilated ʃ
      %td ʃm
      %td ʃn
      %td.assimilated ʒg
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td ʃr
      %td ʃl
      %td.assimilated ʃʃ
      %td.assimilated ʃʃ
    %tr
      %th &nbsp;ʒ&nbsp;
      %td.assimilated ʃp
      %td ʒb
      %td.assimilated ʃt
      %td ʒd
      %td.assimilated ʃk
      %td ʒg
      %td.assimilated ʃq
      %td.assimilated ʃf
      %td.assimilated ss
      %td.assimilated zz
      %td.assimilated ʃʃ
      %td ʒʒ
      %td.assimilated ʃx
      %td ʒγ
      %td.assimilated ʒ
      %td ʒm
      %td ʒn
      %td.assimilated ʒg
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated ʃʃ
      %td.assimilated ʒʒ
      %td ʒr
      %td ʒl
      %td.assimilated ʒʒ
      %td.assimilated ʒʒ
    %tr
      %th &nbsp;x&nbsp;
      %td xp
      %td.assimilated γb
      %td xt
      %td.assimilated γd
      %td.assimilated xx
      %td.assimilated γγ
      %td.assimilated qq
      %td xf
      %td xs
      %td.assimilated γz
      %td xʃ
      %td.assimilated γʒ
      %td xx
      %td.assimilated γγ
      %td.assimilated x
      %td.assimilated γm
      %td.assimilated γn
      %td.assimilated ŋŋ
      %td.assimilated kts
      %td.assimilated gdz
      %td.assimilated kʃ
      %td.assimilated gʒ
      %td xr
      %td xl
      %td.assimilated x
      %td.assimilated g
    %tr
      %th &nbsp;γ&nbsp;
      %td.assimilated xp
      %td γb
      %td.assimilated xt
      %td γd
      %td.assimilated xx
      %td.assimilated γγ
      %td.assimilated qq
      %td.assimilated xf
      %td.assimilated xs
      %td γz
      %td.assimilated xʃ
      %td γʒ
      %td.assimilated xx
      %td γγ
      %td.assimilated γ
      %td γm
      %td γn
      %td.assimilated ŋŋ
      %td.assimilated kts
      %td.assimilated gdz
      %td.assimilated kʃ
      %td.assimilated gʒ
      %td γr
      %td γl
      %td.assimilated γ
      %td.assimilated g
    %tr
      %th &nbsp;h&nbsp;
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %th &nbsp;m&nbsp;
      %td mp
      %td mb
      %td.assimilated nt
      %td.assimilated nd
      %td.assimilated ŋk
      %td.assimilated ŋg
      %td.assimilated ŋq
      %td mf
      %td ms
      %td mz
      %td mʃ
      %td mʒ
      %td mx
      %td mγ
      %td.assimilated m
      %td mm
      %td mn
      %td.assimilated ŋŋ
      %td.assimilated nts
      %td.assimilated ndz
      %td.assimilated ntʃ
      %td.assimilated ndʒ
      %td mr
      %td.assimilated bl
      %td.assimilated mb
      %td.assimilated mm
    %tr
      %th &nbsp;n&nbsp;
      %td.assimilated mp
      %td.assimilated mb
      %td nt
      %td nd
      %td.assimilated ŋk
      %td.assimilated ŋg
      %td.assimilated ŋq
      %td nf
      %td.assimilated nts
      %td.assimilated ndz
      %td.assimilated ntʃ
      %td.assimilated ndʒ
      %td.assimilated ŋx
      %td.assimilated ŋŋ
      %td.assimilated n
      %td nm
      %td nn
      %td.assimilated ŋŋ
      %td nts
      %td ndz
      %td ntʃ
      %td ndʒ
      %td nr
      %td.assimilated ll
      %td.assimilated nn
      %td.assimilated nn
    %tr
      %th &nbsp;ŋ&nbsp;
      %td.assimilated mp
      %td.assimilated mb
      %td.assimilated nt
      %td.assimilated nd
      %td ŋk
      %td ŋg
      %td ŋq
      %td.assimilated kf
      %td.assimilated ks
      %td ŋz
      %td ŋʃ
      %td ŋʒ
      %td ŋx
      %td.assimilated ŋŋ
      %td.assimilated ŋ
      %td ŋm
      %td ŋn
      %td ŋŋ
      %td.assimilated nts
      %td.assimilated ndz
      %td.assimilated ntʃ
      %td.assimilated ndʒ
      %td ŋr
      %td.assimilated γl
      %td.assimilated ŋg
      %td.assimilated ndʒ
    %tr
      %th &nbsp;ts&nbsp;
      %td tsp
      %td.assimilated dzb
      %td.assimilated ts
      %td.assimilated dz
      %td tsk
      %td.assimilated dzg
      %td tsq
      %td tsf
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tsx
      %td.assimilated dzγ
      %td.assimilated ts
      %td tsm
      %td tsn
      %td.assimilated dzg
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tsr
      %td tsl
      %td.assimilated ts
      %td.assimilated tʃ
    %tr
      %th &nbsp;dz&nbsp;
      %td.assimilated dzb
      %td dzb
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated dzg
      %td dzg
      %td.assimilated dzg
      %td.assimilated dzb
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated dzγ
      %td dzγ
      %td.assimilated dz
      %td dzm
      %td dzn
      %td.assimilated dzg
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td dzr
      %td dzl
      %td.assimilated dz
      %td.assimilated dʒ
    %tr
      %th &nbsp;tʃ&nbsp;
      %td tʃp
      %td.assimilated dʒb
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tʃk
      %td.assimilated dʒg
      %td tʃq
      %td tʃf
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tʃx
      %td.assimilated dʒγ
      %td.assimilated tʃ
      %td tʃm
      %td tʃn
      %td.assimilated ʃk
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td tʃr
      %td tʃl
      %td.assimilated tʃ
      %td.assimilated tʃ
    %tr
      %th &nbsp;dʒ&nbsp;
      %td.assimilated tʃp
      %td dʒb
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated tʃk
      %td dʒg
      %td.assimilated dʒg
      %td.assimilated dʒb
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td.assimilated dʒγ
      %td dʒγ
      %td.assimilated dʒ
      %td dʒm
      %td dʒn
      %td.assimilated ʒg
      %td.assimilated ts
      %td.assimilated dz
      %td.assimilated tʃ
      %td.assimilated dʒ
      %td dʒr
      %td dʒl
      %td.assimilated dʒ
      %td.assimilated dʒ
    %tr
      %th &nbsp;r&nbsp;
      %td rp
      %td rb
      %td rt
      %td rd
      %td rk
      %td rg
      %td rq
      %td rf
      %td rs
      %td rz
      %td rʃ
      %td rʒ
      %td rx
      %td rγ
      %td.assimilated r
      %td rm
      %td rn
      %td rŋ
      %td rts
      %td rdz
      %td rtʃ
      %td rdʒ
      %td rr
      %td.assimilated ll
      %td.assimilated rr
      %td.assimilated rr
    %tr
      %th &nbsp;l&nbsp;
      %td lp
      %td lb
      %td lt
      %td ld
      %td lk
      %td lg
      %td lq
      %td lf
      %td ls
      %td lz
      %td lʃ
      %td lʒ
      %td lx
      %td lγ
      %td.assimilated l
      %td lm
      %td ln
      %td lŋ
      %td lts
      %td ldz
      %td ltʃ
      %td ldʒ
      %td.assimilated rr
      %td ll
      %td.assimilated ll
      %td.assimilated ll
    %tr
      %th &nbsp;w&nbsp;
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %th &nbsp;j&nbsp;
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td

  %p
    %a#toggleMore Toggle More Information

#otherContent
  %table#sandhitable.center
    %tr
      %th
      %th &nbsp;p&nbsp;
      %th &nbsp;b&nbsp;
      %th &nbsp;t&nbsp;
      %th &nbsp;d&nbsp;
      %th &nbsp;k&nbsp;
      %th &nbsp;g&nbsp;
      %th &nbsp;q&nbsp;
      %th &nbsp;f&nbsp;
      %th &nbsp;s&nbsp;
      %th &nbsp;z&nbsp;
      %th &nbsp;ʃ&nbsp;
      %th &nbsp;ʒ&nbsp;
      %th &nbsp;x&nbsp;
      %th &nbsp;γ&nbsp;
      %th &nbsp;h&nbsp;
      %th &nbsp;m&nbsp;
      %th &nbsp;n&nbsp;
      %th &nbsp;ŋ&nbsp;
      %th &nbsp;ts&nbsp;
      %th &nbsp;dz&nbsp;
      %th &nbsp;tʃ&nbsp;
      %th &nbsp;dʒ&nbsp;
      %th &nbsp;r&nbsp;
      %th &nbsp;l&nbsp;
      %th &nbsp;w&nbsp;
      %th &nbsp;j&nbsp;
    %tr
      %th &nbsp;p&nbsp;
      %td pp
      %td.assimToSecond bb
      %td pt
      %td.voiceToSecond bd
      %td pk
      %td.voiceToSecond bg
      %td pq
      %td.assimToSecond ff
      %td ps
      %td.voiceToSecond bz
      %td pʃ
      %td.voiceToSecond bʒ
      %td px
      %td.voiceToSecond bγ
      %td.lossOfSecond p
      %td.assimToSecond mm
      %td.nasalOfFirst mn
      %td.mixed bg
      %td pts
      %td.voiceToSecond bdz
      %td ptʃ
      %td.voiceToSecond bdʒ
      %td.lenition fr
      %td.lenition fl
      %td.excrescence bγ
      %td.assimToFirst pp
    %tr
      %th &nbsp;b&nbsp;
      %td.assimToSecond pp
      %td bb
      %td.voiceToSecond pt
      %td bd
      %td.voiceToSecond pk
      %td bg
      %td.voiceToSecond pq
      %td.assimToFirst bb
      %td.voiceToSecond ps
      %td bz
      %td.voiceToSecond pʃ
      %td bʒ
      %td.voiceToSecond px
      %td bγ
      %td.lossOfSecond b
      %td.assimToSecond mm
      %td.nasalOfFirst mn
      %td.denasalOfSecond bg
      %td.voiceToSecond pts
      %td bdz
      %td.voiceToSecond ptʃ
      %td bdʒ
      %td br
      %td bl
      %td.excrescence bγ
      %td.assimToFirst bb
    %tr
      %th &nbsp;t&nbsp;
      %td tp
      %td.assimToSecond bb
      %td tt
      %td.assimToSecond dd
      %td tk
      %td.assimToSecond gg
      %td tq
      %td tf
      %td.assimToSecond ss
      %td.assimToSecond zz
      %td.assimToSecond ʃʃ
      %td.assimToSecond ʒʒ
      %td tx
      %td.assimToSecond γγ
      %td.lossOfSecond t
      %td.nasalOfFirst nm
      %td.assimToSecond nn
      %td.mixed tk
      %td.lossOfFirst ts
      %td.lossOfFirst dz
      %td.lossOfFirst tʃ
      %td.lossOfFirst dʒ
      %td tr
      %td.assimToSecond ll
      %td.assimToFirst tt
      %td.assimWithLoss s
    %tr
      %th &nbsp;d&nbsp;
      %td.voiceToSecond tp
      %td bb
      %td.assimToSecond tt
      %td dd
      %td.voiceToSecond tk
      %td.assimToSecond gg
      %td.voiceToSecond tq
      %td.voiceToSecond tf
      %td.assimToSecond ss
      %td.assimToSecond zz
      %td.assimToSecond ʃʃ
      %td.assimToSecond ʒʒ
      %td.voiceToSecond tx
      %td.assimToSecond γγ
      %td.lossOfSecond d
      %td.nasalOfFirst nm
      %td.assimToSecond nn
      %td.mixed gg
      %td.lossOfFirst ts
      %td.lossOfFirst dz
      %td.lossOfFirst tʃ
      %td.lossOfFirst dʒ
      %td dr
      %td.assimToSecond ll
      %td.assimToFirst dd
      %td.assimWithLoss z
    %tr
      %th &nbsp;k&nbsp;
      %td kp
      %td.voiceToSecond gb
      %td kt
      %td.voiceToSecond gd
      %td kk
      %td.assimToSecond gg
      %td.assimToSecond qq
      %td kf
      %td ks
      %td.voiceToSecond gz
      %td kʃ
      %td.voiceToSecond gʒ
      %td.assimToFirst kk
      %td.assimToSecond γγ
      %td.lossOfSecond k
      %td.nasalOfFirst ŋm
      %td.nasalOfFirst ŋn
      %td.assimToSecond ŋŋ
      %td kts
      %td.voiceToSecond gdz
      %td ktʃ
      %td.voiceToSecond gdʒ
      %td kr
      %td kl
      %td.lossOfSecond k
      %td.assimWithLoss tʃ
    %tr
      %th &nbsp;g&nbsp;
      %td.voiceToFirst gb
      %td gb
      %td.voiceToSecond kt
      %td gd
      %td.assimToSecond kk
      %td gg
      %td.assimToSecond qq
      %td.voiceToSecond kf
      %td.voiceToSecond ks
      %td gz
      %td.voiceToSecond kʃ
      %td gʒ
      %td.mixed γγ
      %td.assimToSecond γγ
      %td.lossOfSecond g
      %td.nasalOfFirst ŋm
      %td.nasalOfFirst ŋn
      %td.assimToSecond ŋŋ
      %td.voiceToSecond kts
      %td gdz
      %td.voiceToSecond ktʃ
      %td gdʒ
      %td gr
      %td.lenition γl
      %td.lossOfSecond g
      %td.assimWithLoss dʒ
    %tr
      %th &nbsp;q&nbsp;
      %td qp
      %td qb
      %td qt
      %td qd
      %td.assimToSecond kk
      %td.assimToSecond gg
      %td qq
      %td qf
      %td qs
      %td qz
      %td qʃ
      %td qʒ
      %td.assimToFirst qq
      %td.assimToSecond γγ
      %td.lossOfSecond q
      %td.mixed γm
      %td.mixed γn
      %td.assimToFirst qq
      %td qts
      %td qdz
      %td qtʃ
      %td qdʒ
      %td qr
      %td.mixed γl
      %td.mixed γ
      %td.assimWithLoss k
    %tr
      %th &nbsp;f&nbsp;
      %td fp
      %td.assimToSecond bb
      %td ft
      %td.assimToSecond dd
      %td fk
      %td.assimToSecond gg
      %td fq
      %td ff
      %td fs
      %td.assimToSecond zz
      %td fʃ
      %td.assimToSecond ʒʒ
      %td fx
      %td.assimToSecond γγ
      %td.lossOfSecond f
      %td fm
      %td fn
      %td.mixed fk
      %td fts
      %td.lossOfFirst dz
      %td ftʃ
      %td.lossOfFirst dʒ
      %td fr
      %td fl
      %td.excrescence fx
      %td.assimToFirst ff
    %tr
      %th &nbsp;s&nbsp;
      %td sp
      %td.voiceToSecond zb
      %td st
      %td.voiceToSecond zd
      %td sk
      %td.voiceToSecond zg
      %td sq
      %td sf
      %td ss
      %td.assimToSecond zz
      %td.assimToSecond ʃʃ
      %td.assimToSecond ʒʒ
      %td sx
      %td.voiceToSecond zγ
      %td.lossOfSecond s
      %td.voiceToSecond zm
      %td.voiceToSecond zn
      %td.mixed zg
      %td.assimToFirst ss
      %td.mixed zz
      %td.mixed ʃʃ
      %td.mixed ʒʒ
      %td sr
      %td sl
      %td.assimToFirst ss
      %td.assimWithLoss ʃ
    %tr
      %th &nbsp;z&nbsp;
      %td.voiceToSecond sp
      %td zb
      %td.voiceToSecond st
      %td zd
      %td.voiceToSecond sk
      %td zg
      %td.voiceToSecond sq
      %td.voiceToSecond sf
      %td.assimToSecond ss
      %td zz
      %td.assimToSecond ʃʃ
      %td.assimToSecond ʒʒ
      %td.voiceToSecond sx
      %td zγ
      %td.lossOfSecond z
      %td zm
      %td zn
      %td.denasalOfSecond zg
      %td.mixed ss
      %td.assimToFirst zz
      %td.mixed ʃʃ
      %td.mixed ʒʒ
      %td zr
      %td zl
      %td.assimToFirst zz
      %td.assimWithLoss ʒ
    %tr
      %th &nbsp;ʃ&nbsp;
      %td ʃp
      %td.voiceToSecond ʒb
      %td ʃt
      %td.voiceToSecond ʒd
      %td ʃk
      %td.voiceToSecond ʒg
      %td ʃq
      %td ʃf
      %td.assimToSecond ss
      %td.assimToSecond zz
      %td ʃʃ
      %td.assimToSecond ʒʒ
      %td ʃx
      %td.voiceToSecond ʒγ
      %td.lossOfSecond ʃ
      %td ʃm
      %td ʃn
      %td.mixed ʒg
      %td.mixed tʃ
      %td.mixed dʒ
      %td.assimToFirst ʃʃ
      %td.mixed ʒʒ
      %td ʃr
      %td ʃl
      %td.assimToFirst ʃʃ
      %td.assimToFirst ʃʃ
    %tr
      %th &nbsp;ʒ&nbsp;
      %td.voiceToSecond ʃp
      %td ʒb
      %td.voiceToSecond ʃt
      %td ʒd
      %td.voiceToSecond ʃk
      %td ʒg
      %td.voiceToSecond ʃq
      %td.voiceToSecond ʃf
      %td.assimToSecond ss
      %td.assimToSecond zz
      %td.assimToSecond ʃʃ
      %td ʒʒ
      %td.voiceToSecond ʃx
      %td ʒγ
      %td.lossOfSecond ʒ
      %td ʒm
      %td ʒn
      %td.denasalOfSecond ʒg
      %td.mixed tʃ
      %td.mixed dʒ
      %td.mixed ʃʃ
      %td.assimToFirst ʒʒ
      %td ʒr
      %td ʒl
      %td.assimToFirst ʒʒ
      %td.assimToFirst ʒʒ
    %tr
      %th &nbsp;x&nbsp;
      %td xp
      %td.voiceToSecond γb
      %td xt
      %td.voiceToSecond γd
      %td.assimToFirst xx
      %td.mixed γγ
      %td.assimToSecond qq
      %td xf
      %td xs
      %td.voiceToSecond γz
      %td xʃ
      %td.voiceToSecond γʒ
      %td xx
      %td.assimToSecond γγ
      %td.lossOfSecond x
      %td.voiceToSecond γm
      %td.voiceToSecond γn
      %td.assimToSecond ŋŋ
      %td.fortition kts
      %td.fortition gdz
      %td.fortition kʃ
      %td.fortition gʒ
      %td xr
      %td xl
      %td.lossOfSecond x
      %td.mixed g
    %tr
      %th &nbsp;γ&nbsp;
      %td.voiceToSecond xp
      %td γb
      %td.voiceToSecond xt
      %td γd
      %td.mixed xx
      %td.assimToFirst γγ
      %td.assimToSecond qq
      %td.voiceToSecond xf
      %td.voiceToSecond xs
      %td γz
      %td.voiceToSecond xʃ
      %td γʒ
      %td.assimToSecond xx
      %td γγ
      %td.lossOfSecond γ
      %td γm
      %td γn
      %td.assimToSecond ŋŋ
      %td.fortition kts
      %td.fortition gdz
      %td.fortition kʃ
      %td.fortition gʒ
      %td γr
      %td γl
      %td.lossOfSecond γ
      %td.fortition g
    %tr
      %th &nbsp;h&nbsp;
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
    %tr
      %th &nbsp;m&nbsp;
      %td mp
      %td mb
      %td.poaInitialNasal nt
      %td.poaInitialNasal nd
      %td.poaInitialNasal ŋk
      %td.poaInitialNasal ŋg
      %td.poaInitialNasal ŋq
      %td mf
      %td ms
      %td mz
      %td mʃ
      %td mʒ
      %td mx
      %td mγ
      %td.lossOfSecond m
      %td mm
      %td mn
      %td.assimToSecond ŋŋ
      %td.poaInitialNasal nts
      %td.poaInitialNasal ndz
      %td.poaInitialNasal ntʃ
      %td.poaInitialNasal ndʒ
      %td mr
      %td.denasalOfFirst bl
      %td.excrescence mb
      %td.assimToFirst mm
    %tr
      %th &nbsp;n&nbsp;
      %td.poaInitialNasal mp
      %td.poaInitialNasal mb
      %td nt
      %td nd
      %td.poaInitialNasal ŋk
      %td.poaInitialNasal ŋg
      %td.poaInitialNasal ŋq
      %td nf
      %td.epenthesis nts
      %td.epenthesis ndz
      %td.epenthesis ntʃ
      %td.epenthesis ndʒ
      %td.poaInitialNasal ŋx
      %td.mixed ŋŋ
      %td.lossOfSecond n
      %td nm
      %td nn
      %td.assimToSecond ŋŋ
      %td nts
      %td ndz
      %td ntʃ
      %td ndʒ
      %td nr
      %td.assimToSecond ll
      %td.assimToFirst nn
      %td.assimToFirst nn
    %tr
      %th &nbsp;ŋ&nbsp;
      %td.poaInitialNasal mp
      %td.poaInitialNasal mb
      %td.poaInitialNasal nt
      %td.poaInitialNasal nd
      %td ŋk
      %td ŋg
      %td ŋq
      %td.denasalOfFirst kf
      %td.denasalOfFirst ks
      %td ŋz
      %td ŋʃ
      %td ŋʒ
      %td ŋx
      %td.assimToFirst ŋŋ
      %td.lossOfSecond ŋ
      %td ŋm
      %td ŋn
      %td ŋŋ
      %td.poaInitialNasal nts
      %td.poaInitialNasal ndz
      %td.poaInitialNasal ntʃ
      %td.poaInitialNasal ndʒ
      %td ŋr
      %td.denasalOfFirst γl
      %td.excrescence ŋg
      %td.mixed ndʒ
    %tr
      %th &nbsp;ts&nbsp;
      %td tsp
      %td.voiceToSecond dzb
      %td.lossOfSecond ts
      %td.assimWithLoss dz
      %td tsk
      %td.voiceToSecond dzg
      %td tsq
      %td tsf
      %td.lossOfSecond ts
      %td.assimWithLoss dz
      %td.assimWithLoss tʃ
      %td.assimWithLoss dʒ
      %td tsx
      %td.voiceToSecond dzγ
      %td.lossOfSecond ts
      %td tsm
      %td tsn
      %td.mixed dzg
      %td.lossOfSecond ts
      %td.lossOfFirst dz
      %td.lossOfFirst tʃ
      %td.lossOfFirst dʒ
      %td tsr
      %td tsl
      %td.lossOfSecond ts
      %td.assimWithLoss tʃ
    %tr
      %th &nbsp;dz&nbsp;
      %td.voiceToFirst dzb
      %td dzb
      %td.assimWithLoss ts
      %td.lossOfSecond dz
      %td.voiceToFirst dzg
      %td dzg
      %td.mixed dzg
      %td.mixed dzb
      %td.assimWithLoss ts
      %td.lossOfSecond dz
      %td.assimWithLoss tʃ
      %td.assimWithLoss dʒ
      %td.voiceToFirst dzγ
      %td dzγ
      %td.lossOfSecond dz
      %td dzm
      %td dzn
      %td.denasalOfSecond dzg
      %td.lossOfFirst ts
      %td.lossOfSecond dz
      %td.lossOfFirst tʃ
      %td.lossOfFirst dʒ
      %td dzr
      %td dzl
      %td.lossOfSecond dz
      %td.assimWithLoss dʒ
    %tr
      %th &nbsp;tʃ&nbsp;
      %td tʃp
      %td.voiceToSecond dʒb
      %td.lossOfSecond tʃ
      %td.assimWithLoss dʒ
      %td tʃk
      %td.voiceToSecond dʒg
      %td tʃq
      %td tʃf
      %td.lossOfSecond tʃ
      %td.assimWithLoss dʒ
      %td.lossOfSecond tʃ
      %td.assimWithLoss dʒ
      %td tʃx
      %td.voiceToSecond dʒγ
      %td.lossOfSecond tʃ
      %td tʃm
      %td tʃn
      %td.mixed ʃk
      %td.lossOfFirst ts
      %td.lossOfFirst dz
      %td.lossOfSecond tʃ
      %td.lossOfFirst dʒ
      %td tʃr
      %td tʃl
      %td.lossOfSecond tʃ
      %td.lossOfSecond tʃ
    %tr
      %th &nbsp;dʒ&nbsp;
      %td.voiceToSecond tʃp
      %td dʒb
      %td.assimWithLoss tʃ
      %td.lossOfSecond dʒ
      %td.voiceToSecond tʃk
      %td dʒg
      %td.mixed dʒg
      %td.mixed dʒb
      %td.assimWithLoss tʃ
      %td.lossOfSecond dʒ
      %td.assimWithLoss tʃ
      %td.lossOfSecond dʒ
      %td.voiceToFirst dʒγ
      %td dʒγ
      %td.lossOfSecond dʒ
      %td dʒm
      %td dʒn
      %td.mixed ʒg
      %td.lossOfFirst ts
      %td.lossOfFirst dz
      %td.lossOfFirst tʃ
      %td.lossOfSecond dʒ
      %td dʒr
      %td dʒl
      %td.lossOfSecond dʒ
      %td.lossOfSecond dʒ
    %tr
      %th &nbsp;r&nbsp;
      %td rp
      %td rb
      %td rt
      %td rd
      %td rk
      %td rg
      %td rq
      %td rf
      %td rs
      %td rz
      %td rʃ
      %td rʒ
      %td rx
      %td rγ
      %td.lossOfSecond r
      %td rm
      %td rn
      %td rŋ
      %td rts
      %td rdz
      %td rtʃ
      %td rdʒ
      %td rr
      %td.assimToSecond ll
      %td.assimToFirst rr
      %td.assimToFirst rr
    %tr
      %th &nbsp;l&nbsp;
      %td lp
      %td lb
      %td lt
      %td ld
      %td lk
      %td lg
      %td lq
      %td lf
      %td ls
      %td lz
      %td lʃ
      %td lʒ
      %td lx
      %td lγ
      %td.lossOfSecond l
      %td lm
      %td ln
      %td lŋ
      %td lts
      %td ldz
      %td ltʃ
      %td ldʒ
      %td.assimToSecond rr
      %td ll
      %td.assimToFirst ll
      %td.assimToFirst ll
    %tr
      %th &nbsp;w&nbsp;
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
    %tr
      %th &nbsp;j&nbsp;
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 

  %p
    %a#toggleLess Toggle Less Information

  %table#sandhitablekey
    %col.key
    %col
    %col.key
    %col
    %tr
      %td.assimToSecond
      %td Full Regressive Assimilation
      %td.denasalOfFirst
      %td Denasalization of First Consonant
    %tr
      %td.assimToFirst
      %td Full Progressive Assimilation
      %td.poaInitialNasal
      %td PoA Assimilation of Initial Nasal
    %tr
      %td.voiceToSecond
      %td Regressive Voicing Assimilation
      %td.assimWithLoss
      %td Misc. Assimilation with Elision of Second Consonant
    %tr
      %td.voiceToFirst
      %td Progressive Voicing Assimilation
      %td.lenition
      %td Misc. Lenition
    %tr
      %td.lossOfSecond
      %td Elision of Second Consonant
      %td.fortition
      %td Misc. Fortition
    %tr
      %td.lossOfFirst
      %td Elision of First Consonant
      %td.epenthesis
      %td Epenthesis
    %tr
      %td.nasalOfFirst
      %td Nasalization of First Consonant
      %td.excrescence
      %td Excrescence
    %tr
      %td.denasalOfSecond
      %td Denasalization of Second Consonant
      %td.mixed
      %td Mixed
