- content_for :title, "Veche.Net — The Republic of Novegrad — Education"

.content-block
  %h1 Education

  .content-block-content
    %p Novegradians have always placed a high value on education. Throughout the 20th century, Novegrad has produced some of the greatest scientists, engineers, and architects in Europe, and maintaining such high standards in education is a top priority for the Novegradian government. Thanks to its educational system, Novegrad has achieved universal literacy.
    %p Secondary school consists of ten years of mandatory classes. After Tenth Year students may choose to either continue through two more years of "upper" secondary school and continue to university, or can take a three-to-four year course at a vocational school for an associate degree, which is sufficient for most blue-collar jobs.
    %p After completing upper secondary school, all students must pass a state examination as a prerequisite to continue to university. There they can study for a three-to-four year <i>bakaláure</i> (bachelor's) degree (six years for medicine), which is awarded after passing a state final examination and defending a diploma project. After this point, students can choose to continue for a <i>mogístre</i> (master's) degree, which requires an additional two to three years of university study.
    %p Some choose to continue to post-graduate degrees. The <i>Kandidáte Navúk</i> (Candidate of Sciences) requires additional study, passing three exams, publishing a number of papers, and writing and defending a dissertation. The highest degree is the <i>Dohtóre Navúk</i> (Doctor of Sciences), which few can achieve before the age of 40.
    %p Most schools, including secondary and higher education, grade work on a 0-5 system, with 5 being the highest and 1 generally the lowest. 0 is rarely used, though generally represents failing with distinction. These can be modified with plus or minus signs (so that 3+ is better than 3, but less than 4-), though these are not recorded in official registers.
    %p Secondary and university classes are state-financed, and are free to Novegradian citizens.
    %p Education in at least one foreign language is required, the most common options being English, Russian, French, and German. Students continuing through the upper levels of secondary school before attending university are expected to have begun study of a third language as well, either foreign or one of the five official minority languages of Novegrad.
    %p Educational systems in the republics receive a great deal of autonomy from the national educational system, although they must still have their curricula and programs approved by the Ministry of Education and must pass the same national exams that everyone else must. The majority of schools in the republics have classes in both the local language and Novegradian, although Novegradian-only schools exist as well for those who do not know the local language. Children in the republics are officially encouraged to learn the local language, but are not required to.
    %p Universities similarly have a degree of freedom, but must operate within guidelines laid out by the Ministry of Education. Some of Novegrad's leading universities include:
    %ul
      %li Novegráde Velíkei State University
      %li Novegráde Velíkei Institute of the Medical Sciences
      %li Novegrad Institute of Technology
      %li Néugrade State University
      %li Néugrade Institute of Technology
      %li Néugrade Institute of International Relations
      %li Vóloğda State University
      %li Pleskóve Institute of Engineering
      %li Ríga State University
      %li Royal Academy of Tórge
      %li Tórge School of Economics
      %li Estonian Academy of Sciences in Revéle
