- content_for :title, "Veche.Net — The Republic of Novegrad — Estonia and the Estonians"

.content-block
  %h1 Estonia and the Estonians

  .content-block-content
    = image_tag "government/map_estonia.png", :alt => "Map of Estonia", :class => "republic-map"

    %section
      %h2 History
      %table.infotable
        %tr
          %th History:
          %td Estonia has been under the rule of several countries. The Estonians first began to organize themselves into political units from the first half of the first milennium. By the 13th century the territory was dominated by several large counties. The Northern Crusades of the 13th century saw the region Christianized and brought under foreign rule, by the Livonian Knights in the south and the Danes in the north, whose control was consolidated by 1227. In 1346 Denmark sold its possesions to the Livonian Order. Northern Estonia submitted to Swedish rule in 1561 during the Livonian War for protection, as southern Estonia fell under the rule of Poland-Lithuania. In 1629, during the Polish-Swedish War, the rest of Estonia came under Swedish rule. Estonia came under Novegradian rule over the course of the First Northern and Great Northern Wars.

    %section
      %h2 Geography
      %table.infotable
        %tr
          %th Area:
          %td 43 278 sq km
        %tr
          %th Coastline:
          %td 3814 km
        %tr
          %th Climate:
          %td Maritime, wet, moderate winters, cool summers
        %tr
          %th Terrain:
          %td Marshy lowlands; flat in the north, hilly in the south
        %tr
          %th Elevation Extremes:
          %td
            Lowest point: Baltic Sea coast - 0 m
            %br
            Highest point: Otepää Hill - 217 m
        %tr
          %th Natural Resources:
          %td oil shale, peat, phosphorite, clay, limestone, sand, dolomite, arable land, sea mud

    %section
      %h2 People
      %table.infotable
        %tr
          %th Population:
          %td 1 550 788 (Jan 2007 est)
        %tr
          %th Nationality:
          %td
            Noun: Estonian
            %br
            Adjective: Estonian
        %tr
          %th Ethnic Groups:
          %td Estonians and Novegradians together make up 90% of the population. Other local groups include a small population of Swedes in the northwest. Some Finns and Belarusians have moved into the territory in recent years.
        %tr
          %th Religions:
          %td Estonian Lutheranism is the dominant faith, though Novegradian Orthodoxy has many followers as well. There are smaller populations of Jews, Catholics, and other Christian groups.
        %tr
          %th Languages:
          %td Estonian and Novegradian are official. Most local Swedes speak these languages and do not know Swedish, unlike in Finland.

    %section
      %h2 Government
      %table.infotable
        %tr
          %th Name:
          %td
            Long Form: Republic of Estonia
            %br
            Short Form: Estonia
            %br
            Local Long Form: Республика Цудеская (Novegradian), Еести Вабариик (Estonian)
            %br
            Local Short Form: Цудя (Novegradian), Еести (Estonian)
        %tr
          %th Capital:
          %td Revéle (Tallinn)
        %tr
          %th Administrative Divisions:
          %td
            3 oblosts: Iestoneskáia (capital Revéle/Tallinn), Pernáuskaia (capital Pernáu/Pärnu), Iuriéuskaia (capital Iúrieve/Tartu)
            %br
            Locations are often identified using the historical counties. The three oblosts serve mainly as administrative districts.
        %tr
          %th Executive Branch:
          %td Headed by a president elected to five year terms. The current head of the republican government is President Andrus Osilou. The president (functionally more like a prime minister) is chosen by the parliament and heads the Government (Vabariigi Valitsus), which exercises executive power.
        %tr
          %th Legislative Branch:
          %td Headed by a unicameral Parliament, the Riigikogu.
        %tr
          %th Flag:
          %td
            Three equal horizontal bands of blue (top), black (middle), and white (bottom). The seal of Estonia is centered on the hoist side.
            %br
            = image_tag "government/flag_estonia.png", :alt => "The Estonian Flag"

    %section
      %h2 Miscellaneous
      %table.infotable
        %tr
          %th Largest Cities:
          %td Revéle/Tallinn, Pernáu/Pärnu, Iúrieve/Tartu, Nárova/Narva, Velíne/Viljandi
        %tr
          %th Major Ports:
          %td Revéle/Tallinn, Pernáu/Pärnu
        %tr
          %th Time Zone:
          %td UTC+2

    %section
      %h2 Basic Words and Phrases in Estonian
      %table.datatable
        %thead
          %tr
            %th English
            %th Estonian
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Тервист
            %td Tervist
            %td /'ter.vist/
          %tr
            %td Goodbye
            %td Хеад аега
            %td Head aega
            %td /'heat 'ae.ka/
          %tr
            %td So long
            %td Нѣгемист
            %td Nägemist
            %td /'næ.ke.mist/
          %tr
            %td Good Morning
            %td Тере хоммикуст
            %td Tere hommikust
            %td /'te.re 'hom.mi.kust/
          %tr
            %td Good Afternoon
            %td Тере пѣеваст
            %td Tere päevast
            %td /'te.re 'pæ.e.vast/
          %tr
            %td Good Evening
            %td Тере ыхтуст
            %td Tere õhtust
            %td /'te.re 'ɤh.tust/
          %tr
            %td Good Night
            %td Хеад ёод
            %td Head ööd
            %td /'heat 'ø:t/
          %tr
            %td Yes
            %td Иах
            %td Jah
            %td /'jah/
          %tr
            %td No
            %td Еи
            %td Ei
            %td /'ej/
          %tr
            %td Please
            %td Палун
            %td Palun
            %td /'pa.lun/
          %tr
            %td Thank You
            %td Тѣнан
            %td Tänan
            %td /'tæ.nan/
          %tr
            %td How are you?
            %td Куидас кѣси кѣиб?
            %td Kuidas käsi käib?
            %td /'kui.tas 'kæ.si 'kæip/
          %tr
            %td What is your name?
            %td Мис он теие ними?
            %td Mis on teie nimi?
            %td /'mis on 'te.je 'ni.mi/
          %tr
            %td My name is...
            %td Мину ними он...
            %td Minu nimi on...
            %td /'mi.nu 'ni.mi on/
          %tr
            %td Do you speak English?
            %td Кас те рѣѣгите инглисе кеелт?
            %td Kas te räägite inglise keelt?
            %td /'kas te 'ræ:.ki.te 'in.kli.se 'ke:lt/
          %tr
            %td I do not speak Estonian.
            %td Ма еи рѣѣги еести кеелт.
            %td Ma ei räägi eesti keelt.
            %td /'ma ej 'ræ:.ki 'e:s.ti 'ke:lt/
          %tr
            %td I understand.
            %td Ма саан ару.
            %td Ma saan aru.
            %td /'ma 'sa:n 'a.ru/
          %tr
            %td I do not understand.
            %td Ма еи саа ару.
            %td Ma ei saa aru.
            %td /'ma ej 'sa: 'a.ru/
          %tr
            %td Excuse me.
            %td Вабандаге.
            %td Vabandage.
            %td /'va.pan.ta.ke/
          %tr
            %td I'm sorry.
            %td Вабандуст.
            %td Vabandust.
            %td /'va.pan.tust/
          %tr
            %td Could you please help me?
            %td Ма ваиан теие аби.
            %td Ma vajan teie abi.
            %td /'ma 'va.jan 'te.je 'a.pi/
          %tr
            %td Could you speak more slowly?
            %td Палун рѣѣкиге аегласемалт?
            %td Palun rääkige aeglasemalt?
            %td /'pa.lun 'ræ:.ki.ke 'ae.kla.se.malt/
