- content_for :title, "Veche.Net — The Republic of Novegrad — Finland and the Finns"

.content-block
  %h1 Finland and the Finns

  .content-block-content
    = image_tag "government/map_finland.png", :alt => "Map of Finland", :class => "republic-map"

    %section
      %h2 History
      %table.infotable
        %tr
          %th History:
          %td At the start of the second milennium Finland was populated by a number of Finnic tribes who had forced out the previous Saami inhabitants. The Treaty of Orěśeke/Nöteborg in the 14th century in theory split the territory between Novegrad and Sweden, but the entire region soon came under Swedish control. A number of battles between Sweden and Novegrad were fought on Finnish territory, though the entire region was ceded to Novegrad following the Great Northern War. A small Swedish population remains in Finland, although most Swedes either assimilated or returned to Sweden following the annexation by Novegrad. Most of the larger cities have names in Novegradian, Finnish, and Swedish. The capital, for example, is known as Tórge in Novegradian, Turku in Finnish, and Åbo in Swedish.i

    %section
      %h2 Geography
      %table.infotable
        %tr
          %th Area:
          %td 250 225 sq km
        %tr
          %th Coastline:
          %td 1340 km
        %tr
          %th Climate:
          %td Cold temperate; potentially subarctic but comparatively mild because of the moderating influence of the North Atlantic Current, Baltic Sea, and more than 100 000 lakes.
        %tr
          %th Terrain:
          %td Mostly low, flat to rolling plans interspersed with lakes and low hills. In the southwest, numerous small islands. Most of the territory is covered by coniferous taiga forests.
        %tr
          %th Elevation Extremes:
          %td
            Lowest point: Baltic Sea coast - 0 m
            %br
            Highest point: Ívara Mountain - 470 m
        %tr
          %th Natural Resources:
          %td timber, iron ore, copper, lead, zinc, chromite, nickel, gold, silver, limestone

    %section
      %h2 People
      %table.infotable
        %tr
          %th Population:
          %td 4 525 379 (Jan 2007 est)
        %tr
          %th Nationality:
          %td
            Noun: Finn
            %br
            Adjective: Finnish
        %tr
          %th Ethnic Groups:
          %td Ethnic Finns and Novegradians make up the vast majority of the population. A small, though significant population of Swedish Finns is also present, concentrated in coastal cities in the south. Estonians, Karelians, and Romani are present in much smaller numbers.
        %tr
          %th Religions:
          %td Finnish Lutheranism is the dominant faith, though Novegradian Orthodoxy has many followers as well. There are smaller populations of Jews, Catholics, and other Christian groups.
        %tr
          %th Languages:
          %td Finnish and Novegradian are official. The Swedish population often speaks Swedish as well.

    %section
      %h2 Government
      %table.infotable
        %tr
          %th Name:
          %td
            Long Form: Republic of Finland
            %br
            Short Form: Finland
            %br
            Local Long Form: Республика Сумеская (Novegradian), Суомен Тасавалта (Finnish)
            %br
            Local Short Form: Сумя (Novegradian), Суоми (Finnish)
        %tr
          %th Capital:
          %td Tórge (Turku)
        %tr
          %th Administrative Divisions:
          %td 4 oblosts: Novoźémnaia (capital Tórge/Turku), Ieźernoźémnaia (capital Míkkeli), Iestrobótnaia (capital Něsijáreske/Näsijärvi), Śěverosúmeskaia (capital Ouluiěrvi/Oulujärvi)
        %tr
          %th Executive Branch:
          %td Headed by a president elected to six year terms. The current head of the republican government is President Terho Rantala. The cabinet, the Council of State or Valtioneuvosto, directs the government.
        %tr
          %th Legislative Branch:
          %td Headed by a unicameral Parliament, the Eduskunta
        %tr
          %th Flag:
          %td
            The Finnish Lion in gold centered on a red background.
            %br
            = image_tag "government/flag_finland.png", :alt => "The Finnish Flag"

    %section
      %h2 Miscellaneous
      %table.infotable
        %tr
          %th Largest Cities:
          %td Tórge/Turku, Míkkeli, Iélsinki/Helsinki, Něsijáreske/Näsijärvi, Ouluiěrvi/Oulujärvi, Héinola
        %tr
          %th Major Ports:
          %td Tórge/Turku, Iélsinki/Helsinki, Náantali, Póri, Óulu
        %tr
          %th Time Zone:
          %td UTC+2

    %section
      %h2 Basic Words and Phrases in Finnish
      %table.datatable
        %thead
          %tr
            %th English
            %th Finnish
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Хеи
            %td Hei
            %td /'hej/
          %tr
            %td Goodbye
            %td Нѣкемиин
            %td Näkemiin
            %td /'næ.ke.mi:n/
          %tr
            %td So long
            %td Моикка
            %td Moikka
            %td /'mojk.ka/
          %tr
            %td Good Morning
            %td Хювѣѣ хуомента
            %td Hyvää huomenta
            %td /'hy.væ: 'huo.men.ta/
          %tr
            %td Good Afternoon
            %td Хювѣѣ пѣивѣѣ
            %td Hyvää päivää
            %td /'hy.væ: 'pæj.væ:/
          %tr
            %td Good Evening
            %td Хювѣѣ илтаа
            %td Hyvää iltaa
            %td /'hy.væ: 'il.ta:/
          %tr
            %td Good Night
            %td Хювѣѣ юотѣ
            %td Hyvää yötä
            %td /'hy.væ: yø.tæ/
          %tr
            %td Yes
            %td Кюллѣ
            %td Kyllä
            %td /'kyl.læ/
          %tr
            %td No
            %td Еи
            %td Ei
            %td /'ej/
          %tr
            %td Please
            %td Олкаа хювѣ
            %td Olkaa hyvä
            %td /'ol.ka: 'hy.væ/
          %tr
            %td Thank You
            %td Киитос
            %td Kiitos
            %td /'ki:.tos/
          %tr
            %td How are you?
            %td Митѣ куулуу?
            %td Mitä kuuluu?
            %td /'mi.tæ 'ku:.lu:/
          %tr
            %td What is your name?
            %td Микѣ он нименне?
            %td Mikä on nimenne?
            %td /'mi.kæ on 'ni.men.ne/
          %tr
            %td My name is...
            %td Нимени он...
            %td Nimeni on...
            %td /'ni.men.ni 'on/
          %tr
            %td Do you speak English?
            %td Пухуттеко енглантиа?
            %td Puhutteko englantia?
            %td /'pu.hut.te.ko 'eŋ.lan.ti.a/
          %tr
            %td I do not speak Finnish.
            %td Ен пухуъ суомеа.
            %td En puhu' suomea.
            %td /'en 'pu.hus 'suo.mea/
          %tr
            %td I understand.
            %td Юммѣррѣн.
            %td Ymmärrän.
            %td /'ym.mær.ræn/
          %tr
            %td I do not understand.
            %td Ен юммѣррѣъ.
            %td En ymmärrä'.
            %td /'en 'ym.mær.ræ/
          %tr
            %td Excuse me.
            %td Антеекси.
            %td Anteeksi.
            %td /'an.te:k.si/
          %tr
            %td I'm sorry.
            %td Валитан.
            %td Valitan.
            %td /'va.li.tan/
          %tr
            %td Could you please help me?
            %td Воиттеко ауттааъ минуа?
            %td Voitteko auttaa' minua?
            %td /'vojt.te.ko 'aut.ta:m 'min.u.a/
          %tr
            %td Could you speak more slowly?
            %td Воиситтеко пухуаъ хитааммин?
            %td Voisitteko puhua' hitaammin?
            %td /'voj.sit.te.ko 'pu.hu.ah 'hi.ta:m.min/
