- content_for :title, "Veche.Net — The Republic of Novegrad — Health Care"

.content-block
  %h1 Health Care

  .content-block-content
    %p Although Novegrad has more doctors per capita than most of Europe, it is still trying to recover from the Soviet legacy of poor restrictions and low standards in health care. Although standards are improving, this is being accompanied by a decrease in relative number of doctors.
    %p Since the 1980s, however, the overall health situation in the Republic has improved dramatically. Overall mortality has dropped and life expectancy has increased significantly. In the last ten years maternal mortality has dropped 60%, infant mortality by 40%, and adolescent mortality by 30%.
    %p Novegrad has universal healthcare, paid for mostly through taxes and general state financing, but also by patient service, admittance, hospital stay, and outpatient fees. Some choose to pay for private insurance as well.
