- content_for :title, "Veche.Net — The Republic of Novegrad — Society"

.content-block
  %h1 People, Society and Culture in Novegrad

  .content-block-content
    %p Novegrad has a rich cultural heritage spanning over a thousand years. Originating in the early Slavic traditions, it has since been shaped by the peoples' many unique experiences and contact with other cultures, creating a uniquely Novegradian way of life.
    %p Its people have historically been very independent, while at the same time placing great importance on the family and community. Many tend to have a strong connection to the place that they live, and traditionally place a high value on the work of one's own hands.
    %p Among ethnic Novegradians, there is a strong sense of patriotism and connection to their country. Similarly, they have also historically felt a great deal of solidarity for fellow Slavs in other nations.
