- content_for :title, "Veche.Net — The Republic of Novegrad — Karelia and the Karelians"

.content-block
  %h1 Karelia and the Karelians

  .content-block-content
    = image_tag "government/map_karelia.png", :alt => "Map of Karelia", :class => "republic-map"

    %section
      %h2 History
      %table.infotable
        %tr
          %th History:
          %td Novegradians had already begun to penetrate Karelian territory by 1000 AD, and by the 13th century all of Karelia was dominated by Novegrad. Although the Karelians were taxed by Novegrad and a small number of settlers had moved into the region, very little of Karelia was developed before the 19th century. Most Novegradian settlements were concentrated in the far south or along the White Sea coast. With the completion of the Baltic-White Sea canal across Karelia and a railroad linking the Kola peninsula to the north to the rest of the country, many new towns began to grow along these major transportation routes. Industrial development and investment in other parts of the republic have only begun relatively recently.

    %section
      %h2 Geography
      %table.infotable
        %tr
          %th Area:
          %td 190 366 sq km
        %tr
          %th Coastline:
          %td 929 km
        %tr
          %th Climate:
          %td Maritime/Continental; cold winters and mild summers
        %tr
          %th Terrain:
          %td Low plain along the coast, low mountains in the north and west; many scattered lakes
        %tr
          %th Elevation Extremes:
          %td
            Lowest point: White Sea coast - 0 m
            %br
            Highest point: Merin Randu - 652 m
        %tr
          %th Natural Resources:
          %td wood, iron ore, diamonds, vanadium, molybdenum, gold, and many other minerals

    %section
      %h2 People
      %table.infotable
        %tr
          %th Population:
          %td 1 470 320 (Jan 2007 est)
        %tr
          %th Nationality:
          %td
            Noun: Karelian
            %br
            Adjective: Karelian
        %tr
          %th Ethnic Groups:
          %td The majority of the population is ethnically Karelian or Novegradian. Smaller groups include Finns (especially along the Finnish border, or in cities) and small populations of other native groups, such as Veps.
        %tr
          %th Religions:
          %td Novegradian Orthodoxy is by far the dominant faith throughout the region.
        %tr
          %th Languages:
          %td Novegradian and Karelian are the official languages. Many Karelians also know Finnish as well.

    %section
      %h2 Government
      %table.infotable
        %tr
          %th Name:
          %td
            Long Form: Republic of Karelia
            %br
            Short Form: Karelia
            %br
            Local Long Form: Республика Карелеская (Novegradian), Карялан Тазавалла (Karelian)
            %br
            Local Short Form: Кареля (Novegradian), Каряла (Karelian)
        %tr
          %th Capital:
          %td Iěneslína (Ääneslinna)
        %tr
          %th Administrative Divisions:
          %td 4 oblosts: Ladoźeskáia (capital Olonéce/Aunus), Vmestevódnaia (capital Kondopóğa/Kontupohiu), Bělokareleskáia (capital Soróka), Vienokarialeskáia (capital Kananlákśi/Kannanlakši)
        %tr
          %th Executive Branch:
          %td Headed by a president elected to five year terms. The current head of the republican government is President Petri Oravaneskei.
        %tr
          %th Legislative Branch:
          %td Headed by a unicameral Parliament, the Kanzalline Suimu.
        %tr
          %th Flag:
          %td
            A blue background, with two white bands across the bottom half. Between them is a green patterned field.
            %br
            = image_tag "government/flag_karelia.png", :alt => "The Karelian Flag"

    %section
      %h2 Miscellaneous
      %table.infotable
        %tr
          %th Largest Cities:
          %td Iěneslína (Ääneslinna), Olonéce (Aunus), Kondopóğa (Kontupohiu), Soróka, Kénje (Kemi), Kananlákśi (Kannanlakši)
        %tr
          %th Major Ports:
          %td Iěneslína (Ääneslinna), Soróka, Kananlákśi (Kannanlakši)
        %tr
          %th Time Zone:
          %td UTC+2

    %section
      %h2 Basic Words and Phrases in Karelian
      %table.datatable
        %thead
          %tr
            %th English
            %th Karelian
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Тервех
            %td Terveh
            %td /'ter.veh/
          %tr
            %td Goodbye
            %td Нѣгимижих
            %td Nägimižih
            %td /'næ.gi.mi.žih/
          %tr
            %td So long
            %td Куни
            %td Kuni
            %td /'ku.ni/
          %tr
            %td Good Morning
            %td Хювюѣ хуондеста
            %td Hyvyä huondesta
            %td /'hy.vyæ 'hwon.des.ta/
          %tr
            %td Good Afternoon
            %td Хювюѣ пѣивюо
            %td Hyvyä päivyö
            %td /'hy.vyæ 'pæj.vyø/
          %tr
            %td Good Evening
            %td Хювюѣ илдуо
            %td Hyvyä ilduo
            %td /'hy.vyæ 'il.dwo/
          %tr
            %td Good Night
            %td Хювюѣ юотѣ
            %td Hyvyä yötä
            %td /'hy.vyæ 'yø.tæ/
          %tr
            %td Yes
            %td Да
            %td Da
            %td /'da/
          %tr
            %td No
            %td Еи
            %td Ei
            %td /'ej/
          %tr
            %td Please
            %td Оле хювѣ
            %td Ole hyvä
            %td /'o.le 'hy.væ/
          %tr
            %td Thank You
            %td Киитос
            %td Kiitos
            %td /'ki:.tos/
          %tr
            %td How are you?
            %td Митѣ куулуу?
            %td Mitä kuuluu?
            %td /'mi.tæ 'ku:.lu:/
          %tr
            %td What is your name?
            %td Ми теийѣн ними он?
            %td Mi teijän nimi on?
            %td /'mi 'tej.jæn 'ni.mi 'on/
          %tr
            %td My name is...
            %td Нимени он...
            %td Nimeni on...
            %td /'ni.me.ni 'on/
          %tr
            %td Do you speak English?
            %td Пухуттако англиские?
            %td Puhuttako angliskie?
            %td /'pu.hut.ta.ko 'an.glis.kie/
          %tr
            %td I do not speak Karelian.
            %td Ен пуху карялие.
            %td En puhu karjalie.
            %td /en 'pu.hu 'kar.ja.lie/
          %tr
            %td I understand.
            %td Елленнѣн.
            %td Ellennän.
            %td /'el.len.næn/
          %tr
            %td I do not understand.
            %td Ен елленнѣ.
            %td En ellennä.
            %td /en 'el.len.næ/
          %tr
            %td Excuse me.
            %td Проссе.
            %td Prosse.
            %td /'pros.se/
          %tr
            %td I'm sorry.
            %td Андиексе.
            %td Andiekse.
            %td /'an.die.kse/
          %tr
            %td Could you please help me?
            %td Войттако аввуттуа милма?
            %td Voittako avvuttua milma?
            %td /'vojt.ta.ko 'av.vut.tua 'mil.ma/
          %tr
            %td Could you speak more slowly?
            %td Войситтако пухуа хиллѣйсеммѣн?
            %td Voisittako puhua hilläisemmän?
            %td /'voj.sit.ta.ko 'pu.hua 'hil.læj.sem.mæn/
