- content_for :title, "Veche.Net — The Republic of Novegrad — Komi and the Komi"

.content-block
  %h1 Komi and the Komi

  .content-block-content
    = image_tag "government/map_komi.png", :alt => "Map of Komi", :class => "republic-map"

    %section
      %h2 History
      %table.infotable
        %tr
          %th History:
          %td For much of its history the Komi territory was untouched wilderness populated only by nomadic tribes, particularly the Komi. Novegradian traders began to penetrate this territory as early as the 1300s, and many of the Komi people were converted to Orthodoxy. Settlement and development did not enter full swing until the 19th century. Although there are a number of medium to large-sized cities in the territory, much of the forests of western Komi are still largely untouched and are now protected.

    %section
      %h2 Geography
      %table.infotable
        %tr
          %th Area:
          %td 1 138 334 sq km
        %tr
          %th Coastline:
          %td 9245 km
        %tr
          %th Climate:
          %td Short warm summers and long cold winters
        %tr
          %th Terrain:
          %td In the west, rough, with several large rivers and large forest cover; in the east, low, flat plains with large rivers and a large amount of swampland; these two areas are divided by the Ural mountains; in the north, tundra
        %tr
          %th Elevation Extremes:
          %td
            Lowest point: Arctic Ocean coast - 0 m
            %br
            Highest point: Gora Jöznym (Naródnaia) - 1894 m
        %tr
          %th Natural Resources:
          %td forests, oil, natural gas, titanium, bauxite, gold, diamonds, and large deposits of over 100 other minerals

    %section
      %h2 People
      %table.infotable
        %tr
          %th Population:
          %td 1 132 982 (Jan 2007 est)
        %tr
          %th Nationality:
          %td
            Noun: Komi
            %br
            Adjective: Komi
        %tr
          %th Ethnic Groups:
          %td The majority of the population are ethnically Komi or Novegradian. Smaller ethnic groups include the Nenets, Enets, and Khanty.
        %tr
          %th Religions:
          %td Novegradian Orthodoxy is by far the dominant faith throughout the region. Traditional shamanistic beliefs are still practiced in some remote settlements.
        %tr
          %th Languages:
          %td Novegradian and Komi are the official languages. Many of the other local ethnic groups speak their own languages as well.

    %section
      %h2 Government
      %table.infotable
        %tr
          %th Name:
          %td
            Long Form: Republic of Komi
            %br
            Short Form: Komi
            %br
            Local Long Form: Республика Коми (Novegradian), Коми Республика (Komi)
            %br
            Local Short Form: Коми (Novegradian), Коми-му (Komi)
        %tr
          %th Capital:
          %td Sihtikáre (Syktyvkar)
        %tr
          %th Administrative Divisions:
          %td 3 oblosts: Iúźnei Kómi (capital Sihtikáre/Syktyvkar), Pečarouskáia (capital Pečára/Petśöra), Óbua-Ieniśéiskaia (capital Óuske/Obvakar)
        %tr
          %th Executive Branch:
          %td Headed by a president elected to four year terms by parliament. The current head of the republican government is President Sozon Pimnou.
        %tr
          %th Legislative Branch:
          %td Headed by a unicameral Parliament, the Jöz Öktöm.
        %tr
          %th Flag:
          %td
            Three horizontal bands of equal width - blue/purple (top), green (middle), and white (bottom).
            %br
            = image_tag "government/flag_komi.png", :alt => "The Komi Flag"

    %section
      %h2 Miscellaneous
      %table.infotable
        %tr
          %th Largest Cities:
          %td Sihtikáre/Syktyvkar, Pečara/Petśöra, Óuske/Obvakar, Úhta/Ukvakar
        %tr
          %th Major Ports:
          %td Óuske/Obvakar, Górdkare/Gördkar
        %tr
          %th Time Zone:
          %td UTC+4

    %section
      %h2 Basic Words and Phrases in Komi
      %table.datatable
        %thead
          %tr
            %th English
            %th Komi
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Чолӧм
            %td Tśolöm
            %td /'tɕo.ləm/
          %tr
            %td Goodbye
            %td Адѕысьлытӧѕ
            %td Addźyślytödź
            %td /'ad.dʑəɕ.lɨ.tədʑ/
          %tr
            %td So long
            %td Став бурсö
            %td Stav bursö
            %td /'stav 'bur.sə/
          %tr
            %td Good Morning
            %td Бур асыв
            %td Bur asyv
            %td /'bur 'a.sɨv/
          %tr
            %td Good Afternoon
            %td Бур лун
            %td Bur lun
            %td /'bur 'lun/
          %tr
            %td Good Evening
            %td Бур рыт
            %td Bur ryt
            %td /'bur 'rɨt/
          %tr
            %td Good Night
            %td Бур вой
            %td Bur voj
            %td /'bur 'voj/
          %tr
            %td Yes
            %td Да
            %td Da
            %td /'da/
          %tr
            %td No
            %td Абу
            %td Abu
            %td /'a.bu/
          %tr
            %td Please
            %td Кора
            %td Kora
            %td /'ko.ra/
          %tr
            %td Thank You
            %td Аттьö
            %td Atťö
            %td /'at.tʲə/
          %tr
            %td How are you?
            %td Кыѕ олан?
            %td Kydź olan?
            %td /'kɨdʑ 'o.lan/
          %tr
            %td What is your name?
            %td Мый тэнад нимыд?
            %td Myj tenad ńimyd?
            %td /'mɨj 'te.nad 'nʲi.mɨd/
          %tr
            %td My name is...
            %td Нимöй...
            %td Ńimöi...
            %td /'nʲi.məj/
          %tr
            %td Do you speak English?
            %td Сёрнитан английскöйöн?
            %td Śorńitan anglijsköjön?
            %td /'ɕor.nʲi.tan 'an.gli.skə.jən/
          %tr
            %td I do not speak Komi.
            %td Ме ог сёрнит комиöн.
            %td Me og śorńit komiön.
            %td /'me og 'ɕor.nʲit 'ko.mi.ən/
          %tr
            %td I understand.
            %td Ме тэнö вежöрта.
            %td Me tenö vežörta.
            %td /'me 'te.nə 've.žər.ta/
          %tr
            %td I do not understand.
            %td Ме ог тэнö вежöрт.
            %td Me og tenö vežört.
            %td /'me og 'te.nə 've.žərt/
          %tr
            %td Excuse me.
            %td Менö просит.
            %td Menö prośit.
            %td /'me.nə 'pro.ɕit/
          %tr
            %td I'm sorry.
            %td Кора тэнö проситны.
            %td Kora tenö prośitny.
            %td /'ko.ra 'te.nə 'pro.ɕit.nɨ/
          %tr
            %td Could you please help me?
            %td Кора тэнö отсöг вылö?
            %td Kora tenö otsög vylö?
            %td /'ko.ra 'te.nə 'ot.səg 'vɨ.lə/
          %tr
            %td Could you speak more slowly?
            %td Кора тэнö наѕöнджыка тайöс шуны?
            %td Kora tenö nadźöndžyka tajös šuny?
            %td /'ko.ra 'te.nə 'na.dʑən.džɨ.ka 'ta.jəs 'šu.nɨ/
