- content_for :title, "Veche.Net — The Republic of Novegrad — The Novegradian Language"

.content-block
  %h1 The Novegradian Language

  .content-block-content
    %p Novegradian is the official language of the Republic of Novegrad. It is part of the North Slavic branch of the Slavic group of Indo-European languages. It is closely related to other Slavic languages such as Russian, Polish, and Czech. With approximately 53 million speakers worldwide, it is the 21st most widely spoken language on Earth.
    %p
      A more detailed description of the language may be found at the
      = succeed '.' do
        = link_to "Grammar of the Novegradian Language", novegradian_index_path
      A dictionary may be found at the
      = succeed '.' do
        = link_to "Lexicon", lexicon_path(:language => :novegradian)

    %section
      %h2 Basic Words and Phrases
      %table.datatable
        %thead
          %tr
            %th English
            %th Novegradian
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Страво
            %td Strávo
            %td /'stra.vo/
          %tr
            %td Goodbye
            %td До виденьа
            %td Do vidénja
            %td /do vi.'dʲe.ɲa/
          %tr
            %td So long
            %td Споғом
            %td Spóğom
            %td /'spo.γom/
          %tr
            %td Good Morning
            %td Добро еутро
            %td Dóbro iéutro
            %td /'do.bro 'jew.tro/
          %tr
            %td Good Afternoon
            %td Добре дене
            %td Dóbre déne
            %td /'do.bre 'dʲe.ne/
          %tr
            %td Good Evening
            %td Добре вецере
            %td Dóbre vécere
            %td /'do.bre 've.tse.re/
          %tr
            %td Good Night (greeting)
            %td Добра нокьи
            %td Dóbra nókji
            %td /'do.bra 'no.ci/
          %tr
            %td Good Night (parting)
            %td Погойна нокьи
            %td Pogóina nókji
            %td /po.'goj.na 'no.ci/
          %tr
            %td Yes
            %td Да
            %td Dá
            %td /'da/
          %tr
            %td No
            %td Нет
            %td Nét
            %td /'nʲet/
          %tr
            %td Please
            %td Прошим
            %td Próśim
            %td /'pro.sʲim/
          %tr
            %td Thank You
            %td Аття
            %td Attiá
            %td /at.'tʲa/
          %tr
            %td How are you?
            %td Како живете?
            %td Káko źivéte?
            %td /'ka.ko zʲi.'ve.te/
          %tr
            %td What is your name?
            %td Како вас зовут?
            %td Káko vas zovút?
            %td /'ka.ko vas zo.'vut/
          %tr
            %td My name is...
            %td Ме зовут...
            %td Me zovút...
            %td /me zo.'vut/
          %tr
            %td Do you speak English?
            %td Вуи говорите нанглийскѣ?
            %td Vuí govoríte nanglíjskě?
            %td /'vwi go.vo.'ri.te nan.'glais.ki/
          %tr
            %td I do not speak Novegradian.
            %td Не говорун нановеградескѣ.
            %td Ne govorún nanovegrádeskě.
            %td /ne go.vo.'run na.no.ve.'gra.des.ki/
          %tr
            %td I understand.
            %td Довѣдам.
            %td Dově́dam.
            %td /do.'væ.dam/
          %tr
            %td I do not understand.
            %td Не довѣдам.
            %td Ne dově́dam.
            %td /ne do.'væ.dam/
          %tr
            %td Excuse me.
            %td Совините.
            %td Soviníte.
            %td /so.vi.'nʲi.te/
          %tr
            %td I'm sorry.
            %td Прошкьите.
            %td Prośkjíte.
            %td /proš.'ci.te/
          %tr
            %td Could you please help me?
            %td Вуи бу могли мей помагати?
            %td Vuí bu moglí mei pomagáti?
            %td /'vwi bu mo.'gli mej po.ma.'ga.ti/
          %tr
            %td Could you speak more slowly?
            %td Егье нетермаднейшѣ, прошим.
            %td Iegjé netermadnéiśe, próśim.
            %td /je.'ɟe ne.ter.mad.'nʲej.sʲe 'pro.sʲim/
