- content_for :title, "Veche.Net — The Republic of Novegrad — Latvia and the Latvians"

.content-block
  %h1 Latvia and the Latvians

  .content-block-content
    = image_tag "government/map_latvia.png", :alt => "Map of Latvia", :class => "republic-map"

    %section
      %h2 History
      %table.infotable
        %tr
          %th History:
          %td
            The territory of modern Latvia was originally inhabited by a number of Baltic tribes. Even today these four historic regions, Courland, Latgale, Selonia, and Semigallia, each still have a distinctive dialect. The Northern Crusades christianized the Balts and unified the four Latvian tribes under the Livonian Order. After the Livonian War in the 16th century, Livonian power was broken and its territory absorbed by Poland-Lithuania. Sweden and Novegrad soon became interested in this territory, and in 1629, during the Thirty Years War most of the territory came under Swedish rule. The Northern Wars and later conflicts with Poland resulted in the creation of the Novegradian Riga governate, which would later become the Republic of Latvia.
            %br
            The borders of the Republic of Latvia extend far beyond the borders of the original tribes, and so include a number of non-Latvian peoples. It is the most multi-ethnic region in Novegrad.

    %section
      %h2 Geography
      %table.infotable
        %tr
          %th Area:
          %td 117 901 sq km
        %tr
          %th Coastline:
          %td 558 km
        %tr
          %th Climate:
          %td Maritime; wet, moderate winters
        %tr
          %th Terrain:
          %td Low plain, many scattered lakes
        %tr
          %th Elevation Extremes:
          %td
            Lowest point: Baltic Sea coast - 0 m
            %br
            Highest point: Munameģis - 318 m
        %tr
          %th Natural Resources:
          %td peat, limestone, dolomite, amber, hydropower, wood

    %section
      %h2 People
      %table.infotable
        %tr
          %th Population:
          %td 3 250 872 (Jan 2007 est)
        %tr
          %th Nationality:
          %td
            Noun: Latvian
            %br
            Adjective: Latvian
        %tr
          %th Ethnic Groups:
          %td Numerous groups are represented. About 44% of the population is ethnically Latvian, and 33% Novegradian. The remaining groups consist mostly of Lithuanians (10%), Belarussians (9%), Poles, Russians, and other Baltic ethnicities.
        %tr
          %th Religions:
          %td Lutheranism is the dominant faith, though Novegradian Orthodoxy has many followers as well. In the south Catholicism is more widespread, especially among ethnic Poles. There are also significant Jewish groups.
        %tr
          %th Languages:
          %td Latvian and Novegradian are official. The standard form of Latvian is based on the Livonian dialect of Riga. The other dialects, Curonian, Semigallian, and Latgalian, are widely spoken, but the standard is expected to be used in writing. Lithuanians and Belarusians generally speak their own native language within their communities.

    %section
      %h2 Government
      %table.infotable
        %tr
          %th Name:
          %td
            Long Form: Republic of Latvia
            %br
            Short Form: Latvia
            %br
            Local Long Form: Республика Латўиская (Novegradian), Латвијас Република (Latvian)
            %br
            Local Short Form: Латўия (Novegradian), Латвија (Latvian)
        %tr
          %th Capital:
          %td Ríga (Rīga)
        %tr
          %th Administrative Divisions:
          %td 4 oblosts: Liulandeskáia (capital Ríga/Rīga), Lasgaleskáia (capital Daugáuske/Daugavpils), Kurlandeskáia (capital Libáva/Liepāja), Poloteskáia (capital Novopolóta)
        %tr
          %th Executive Branch:
          %td Headed by a president elected to four year terms. The current head of the republican government is President Anna Lūsis. The president is chosen by the parliament.
        %tr
          %th Legislative Branch:
          %td Headed by a unicameral Parliament, the Saeima.
        %tr
          %th Flag:
          %td
            Three horizontal bands of maroon (top), white (middle), and maroon (bottom). The two maroon bands are each twice the width of the central white band.
            %br
            = image_tag "government/flag_latvia.png", :alt => "The Latvian Flag"

    %section
      %h2 Miscellaneous
      %table.infotable
        %tr
          %th Largest Cities:
          %td Ríga/Rīga, Daugáva/Daugavpils, Libáva/Liepāja, Novopólota, Ieváneske/Ivānska, Mitáva/Jelgava, Śáuli/Šauļi, Ponevéźe/Panevēža
        %tr
          %th Major Ports:
          %td Ríga/Rīga, Vindáva/Ventspils, Libáva/Liepāja
        %tr
          %th Time Zone:
          %td UTC+2

    %section
      %h2 Basic Words and Phrases in Latvian
      %table.datatable
        %thead
          %tr
            %th English
            %th Estonian
            %th Transliteration
            %th Pronunciation
        %tbody
          %tr
            %td Hello
            %td Свейки
            %td Sveiki
            %td /'svej.ki/
          %tr
            %td Goodbye
            %td Уз реѕе̄шанос
            %td Uz redzēšanos
            %td /uz 're.dze:.ša.nos/
          %tr
            %td So long
            %td Ата̄
            %td Atā
            %td /'a.ta:/
          %tr
            %td Good Morning
            %td Лабрӣт
            %td Labrīt
            %td /la.'bri:t/
          %tr
            %td Good Afternoon
            %td Лабдийн
            %td Labdien
            %td /lab.'dien/
          %tr
            %td Good Evening
            %td Лабвакар
            %td Labvakar
            %td /lab.'va.kar/
          %tr
            %td Good Night
            %td Ар лабу накти
            %td Ar labu nakti
            %td /ar 'la.bu 'nak.ti/
          %tr
            %td Yes
            %td Ја̄
            %td Jā
            %td /'ja:/
          %tr
            %td No
            %td Не̄
            %td Nē
            %td /ne:/
          %tr
            %td Please
            %td Лӯѕу
            %td Lūdzu
            %td /'lu:.dzu/
          %tr
            %td Thank You
            %td Палдийс
            %td Paldies
            %td /pal.'dies/
          %tr
            %td How are you?
            %td Ка̄ јумс кла̄јас?
            %td Kā jums klājas?
            %td /'ka: jums 'kla:.jas/
          %tr
            %td What is your name?
            %td Ка̄ јӯс сауц?
            %td Kā jūs sauc?
            %td /'ka: ju:s 'sauts/
          %tr
            %td My name is...
            %td Мани сауц...
            %td Mani sauc...
            %td /'ma.ni 'sauts/
          %tr
            %td Do you speak English?
            %td Вай јӯс руна̄јат англиски?
            %td Vai jūs runājat angliski?
            %td /'vaj ju:s ru.'na:.jat 'an.glis.ki/
          %tr
            %td I do not speak Latvian.
            %td Ес нема̄ку латвийшу валоду.
            %td Es nemāku latviešu valodu.
            %td /es 'ne.ma:.ku 'lat.vie.šu 'va.lo.du/
          %tr
            %td I understand.
            %td Ес сапроту.
            %td Es saprotu.
            %td /es 'sa.pro.tu/
          %tr
            %td I do not understand.
            %td Ес несапроту.
            %td Es nesaprotu.
            %td /es 'ne.sa.pro.tu/
          %tr
            %td Excuse me.
            %td Атвайнојийт.
            %td Atvainojiet.
            %td /'at.vaj.no.jiet/
          %tr
            %td I'm sorry.
            %td Пийдодийт.
            %td Piedodiet.
            %td /'pie.do.diet/
          %tr
            %td Could you please help me?
            %td Ман вајаг јӯсу палӣѕӣбу?
            %td Man vajag jūsu palīdzību?
            %td /man 'va.jag 'ju:.su 'pa.li:.dzi:.bu/
          %tr
            %td Could you speak more slowly?
            %td Вай јӯс вара̄ту руна̄т ле̄на̄к?
            %td Vai jūs varātu runāt lēnāk?
            %td /'vaj ju:s va.'ra:.tu ru.'na:t 'le:.na:k/
