- content_for :title, "Veche.Net — The Republic of Novegrad — Population"

.content-block
  %h1 Population

  .content-block-content
    %p According to the 2004 Census of All Novegrad:
    %p The population of the Republic of Novegrad is 50,612,400.
    %p 77% of the population lives in cities or urban areas. 23% lives in rural areas. There are four cities with a population over one million: Novegráde Velíkei, Néugrade, Vóloğda, and Tórge. There are an additional six with populations over five hundred thousand: Ríga, Revéle, Vítebeske, Mołóga, Vółhove, and Pleskóve.
    %p 35,810,500 people, or 70.75% of the population, are 18 years of age or older. 14,801,900 people, or 29.25% of the population, are below 18 years of age.
    %p The population growth rate is 0.14% per year. The average life expectancy is 73 years for men and 78 years for women. Overall, there are approximately 0.93 men for each woman.
    %p Literacy is nearly universal: 99.99%.
    %p Nationalities from almost every country are represented. However, the dominant ethnicities are Novegradian and those of the five constituent republics, as well as Russians:
    %ul
      %li Novegradian: 37,444,293 (73.98%)
      %li Finnish: 4,105,295 (8.11%)
      %li Latvian: 2,314,554 (4.57%)
      %li Estonian: 1,447,480 (2.86%)
      %li Russian: 1,423,398 (2.81%)
      %li Komi: 1,005,923 (1.99%)
      %li Karelian: 947,289 (1.87%)
      %li Belarusian: 672,288 (1.33%)
      %li Lithuanian: 610,982 (1.21%)
      %li Swedish: 84,328 (0.17%)
      %li Nenets: 40,490(0.08%)
      %li Jew: 25,930 (0.05%)
      %li Roma: 18,327 (0.04%)
      %li Khanty: 14,209 (0.03%)
      %li Veps: 8,293 (0.02%)
      %li Pomor: 7,832 (0.02%)
      %li Mansi: 4,238 (0.01%)
      %li Saami: 2,178 (0.00%)
      %li Other: 432,581 (0.85%)
