- content_for :title, "Veche.Net — The Republic of Novegrad — National Anthem"

.content-block
  %h1 National Anthem

  .content-block-content
    %p The national anthem of the Republic of Novegrad is <i>Novegráde-Ródina</i>, known in English as "Novegrad – Our Homeland". It was written by Alékśeie Buranóu and incorporates elements from older Novegradian hymns as well as protest songs of the Great Thaw period. It was officially adopted in 1988, replacing the older socialist anthem.
    %p The Novegradian anthem is unique amongst national anthems for having two separate versions: a civil anthem, used for most events, and a military anthem, used by the armed forces and at public events in honor of the armed forces (such as on Victory Day).
    %p The English translations given below are not considered official.

    %section
      %h2 Civil Anthem
      %table.datatable
        %thead
          %tr
            %th Novegradian
            %th Transliteration
            %th English
        %tbody
          %tr
            %td
              %p
                Шѣверное соунце суѣдит над наме,
                %br
                Весна и приходит па вех шу странун.
                %br
                Муи вѣме, жемя наша станет новой
                %br
                И пѣти постоим ов ѣ суободѣх.
              %p
                Зуенит ваше ймѣно на горах далнѣх,
                %br
                По тундарѣ, тайгѣ, рѣгах и морѣх.
                %br
                Прадѣгь наших жемлу муи лубим скѣла;
                %br
                Воверхѣ, во шерцѣ – пустим плавобѣл!
              %p
                Новеграде Великей, слават дѣдете!
                %br
                Муи виех народ собирамеш глажит:
                %br
                Ат вѣцнѣ живет ша республика издрел,
                %br
                Ат вехда бадет мудра Суетѣе Совин жемя!
            %td
              %p
                Śěvérnoie sóunce suědít nad náme,
                %br
                Vesná i prihódit pa véh śu stranún.
                %br
                Mui věme, źemiá naśa stánet novói
                %br
                I pěti postójim ov iě suoboděh.
              %p
                Zuenít vaśe jměno na górah dálněh,
                %br
                Po túndarě, táigě, rěgáh i morěh.
                %br
                Praděgj naśih źémlu mui lúbim skělá;
                %br
                Vovérhě, vo śércě – pustím plavoběl!
              %p
                Novegráde Velíkei, slavát dědeté!
                %br
                Muí vieh naród sobirámeś glaźít:
                %br
                At věcně źivét śa respúblika izdrél,
                %br
                At vehdá badet múdra Suétěie Sóvin źemiá!
            %td
              %p
                The Northern Sun shines down upon us,
                %br
                The springtime shall come and reach across this whole country.
                %br
                We know that our land shall renew itself
                %br
                And we stand to sing of her freedoms.
              %p
                Your name rings loud amongst the distant mountains,
                %br
                Across the tundra, taiga, rivers and seas.
                %br
                We wholeheartedly love the land of our ancestors;
                %br
                Above our heads and within our hearts we fly the blue and white flag.
              %p
                O Great Novegrad, your children glorify you!
                %br
                We of all nations gather together to say:
                %br
                May our Ancient Republic last for eternity,
                %br
                May the Land of St. Sophia always be wise!

    %section
      %h2 Military Anthem
      %table.datatable
        %thead
          %tr
            %th Novegradian
            %th Transliteration
            %th English
        %tbody
          %tr
            %td
              %p
                Шѣверное соунце суѣдит над наме,
                %br
                Весна и приходит па вех шу странун.
                %br
                Вие луди веғаде годови служит
                %Br
                Дя васе, благата жемя суободна.
              %p
                Шеден вуизивати нам стари вѣки:
                %br
                Стоитеш брагьам сохранит наслѣдия.
                %br
                Зад наме велицости, тож вопредѣ.
                %br
                Виғу житени словеси заменим.
              %p
                Новеграде Великей, слават дѣдете!
                %br
                Муи виех народ собирамеш глажит:
                %br
                Ат вѣцнѣ живет ша республика издрел,
                %br
                Ат вехда бадет мудра Суетѣе Совин жемя!
            %td
              %p
                Śěvérnoie sóunce suědít nad náme,
                %br
                Vesná i prihódit pa véh śu stranún.
                %br
                Vie lúdi veǧáde godóvi sluźít
                %br
                Dia váse, blagáta źemiá suobodná.
              %p
                Śedén vuiziváti nam stári vě́ki:
                %br
                Stojíteś bragjám sohranít naslědiá.
                %br
                Zad náme velícosti, tóz voprédě.
                %br
                Viǧú źitení slovesí zamením.
              %p
                Novegráde Velíkei, slavát dědeté!
                %br
                Muí vijeh naród sobirámeś glaźít:
                %br
                At věcně źivét śa respúblika izdrél,
                %br
                At vehdá badet múdra Suétěie Sóvin źemiá!
            %td
              %p
                The Northern Sun shines down upon us,
                %br
                The springtime shall come and reach across this whole country.
                %br
                All people, all places stand ready to serve
                %br
                For you, our blessed free land!
              %p
                Today times long past call forth to us:
                %br
                Stand, all, as brothers, and protect your inheritance.
                %br
                Behind us is a former greatness, ahead it lies too.
                %br
                We will remember these words throughout our whole lives.
              %p
                O Great Novegrad, your children glorify you!
                %br
                We of all nations gather together to say:
                %br
                May our Ancient Republic last for eternity,
                %br
                May the Land of St. Sophia always be wise!

    %p Official translations exist for both anthems in Finnish, Estonian, Latvian, Karelian and Komi. However, the military anthem is rarely performed in any language other than Novegradian.
