- content_for :title, "Veche.Net — The Republic of Novegrad — Publications"

.content-block
  %h1 Government Publications

  .content-block-content
    %p Here you may find a number of miscellaneous articles and other documents published by the Novegradian government.
