- if @lexicon.scoped?
  %p #{pluralize @lexicon.entries.count, "match"} returned.
  %ul
    - @lexicon.entries.each do |entry|
      %li= link_to slug(entry), lexicon_entry_path(@search_params.merge(:slug => entry.slug))
  - if @show_partial_matches && @lexicon.entries.excluded.length
    %p In addition, the following #{pluralize @lexicon.entries.excluded.length, "record"} partially matched your search:
    %ul
      - @lexicon.entries.excluded.each do |entry|
        %li= link_to slug(entry), lexicon_entry_path(@search_params.merge(:slug => entry.slug))
