- content_for :title, "#{@lexicon.name} Lexicon"

%p.introtext Enter a search term in the box above, or select a letter to browse.
%p.introtext The #{@lexicon.name} lexicon currently contains #{@lexicon.record_count} entries.
