- content_for :title, "Grammar of the Tunisian Language"
- content_for :section_title, "Grammar of the Tunisian Language"
- content_for :section_subtitle, "Grematche Refreiće pôl Leigge Tenésiane"

= image_tag 'tunisian/cover.png', :id => 'coverart', :alt => "A Reference Grammar of the Tunisian Language"

%h2 Online Index of Topics
%p a. Foreword
%p b. Abbreviations
%p 1. #{link_to "Background", tunisian_grammar_page_path(:background)}
%p 2. #{link_to "Phonology", tunisian_grammar_page_path(:phonology)}
%p 3. #{link_to "Orthography", tunisian_grammar_page_path(:orthography)}
%p 4. Verbal Morphology
%p 5. Nominal Morphology
%p 6. Pronouns
%p 7. Adjectives and Numerals
%p 8. Derivational Morphology
%p 9. The Verb Phrase
%p 10. The Noun Phrase
%p 11. Use of Pronouns
%p 12. Clauses and Conjunctions
%p 13. Dialects
%p 14. Historical Phonology and Morphology
%p 15. Appendices
