- content_for :title, "Veche.Net — The Republic of Novegrad — Novegrad FAQ"

.content-block
  %h1 Novegrad FAQ

  .content-block-content
    %section
      %h2 What is the Republic of Novegrad?
      %p The Republic of Novegrad is a fictional country. More specifically, it is what is known as an "althistory", or alternative history, where an event in history is altered slightly, and events are fastforwarded to the present day. In the case of Novegrad, that pivotal moment was the Battle of Shelon in 1471 between the armies of the historical Novgorodian Land and Muscovy. In reality, this battle ended with a decisive Muscovite victory, resulting in the gradual loss of Novgorod's independence and eventual annexation into the growing Muscovy, which would eventually form the heart of the Russian Empire.

    %section
      %h2 What is Novegradian?
      %p Novegradian (the most widely spoken language in the fictional Republic of Novegrad) is, similarly, an artificially constructed language, sometimes also known as a "conlang". Languages have long been my number one interest. A number of years ago I first came across what is known as the "Old Novgorodian dialect", a divergent dialect of Common Slavic (or East Slavic, depending on who you ask) that was spoken in the Novgorodian and Pskovian lands between the 9th and 15th centuries, and died out in favor of Russian after the annexation of these territories into Muscovy. I decided to try evolving the Old Novgorodian dialect to the present day, to see what a modern version of this language might look like.
      %p However, realism for me is of the utmost importance. And real languages don't simply evolve in a void, in isolation from history. I couldn't satisfactorily create a modern-day version of Old Novgorodian without giving it a context, and what context would be more suitable than the survival of an independent Novgorod to the present day? That is where this whole project came from—Novegradian came first, everything else emerged as a context.

    %section
      %h2 How long has all this taken you?
      %p A very long time! I started back in 2006, and both the language and this website have undergone a number of revisions since then.

    %section
      %h2 Is anything on this site real?
      %p While Novegrad and Novegradian are fictional, they both have bases in reality. Novgorod was in fact a real nation, existing from the 11th to 15th centuries AD. Novgorodian (or more precisely, the "Old Novgorodian dialect") was a real language, though it is debatable whether it should constitute a separate "North Slavic" branch or is simply a divergent East Slavic language, along with Russian, Ukrainian, Belarusian, and Rusyn. In general, since this alternate history split off in 1471, most topics discussed on this site dealing with anything before 1471 are in fact real; this is particularly true of the "History" section and various aspects of the historical development of Novegradian. However, I did take some creative liberties every now and then, and made minor alterations to history prior to 1471.
      %p Also, much of the early history of Novgorod and the Old Novgorodian dialect is still the matter of scholarly debate. Written records are somewhat scarce, and there is still no agreement on a number of historical and linguistic issues involved. In such cases I usually chose a side. In the long run it may well turn out that the side I chose is incorrect, but this is a creative project, not a scientific one.

    %section
      %h2 Why Novgorod?
      %p Medieval Novgorod simply captured my interest due to its uniqueness on the one hand and all of the mysteries that still remain on the other. From a linguistic perspective, Old Novgorodian seemed to me like a potentially very different direction a Slavic language could have taken had it survived to the present. From a more socio-political side, Novgorod simply stood out from its contemporary neighbors, due to its quirky quasi-democratic government, strange and schizophrenic system of administration, sense of separatism from the rest of Medieval Rus', civil engineering, and the fact that it blends aspects of a vast trading empire and a city-state.

    %section
      %h2 How did you do...?
      %p This is a complicated question that I really can't answer briefly. To make this site, I used quite a few different tools (though Adobe Photoshop and Illustratorstand out, while the published Novegradian grammar was done in InDesign). The technology stack of the website has changed over time, starting out as PHP and currently Ruby. I also had to do quite a bit of research, particularly for the language and the history, both on the Internet and in books. Needless to say, books on such obscure topics as the Old Novgorodian dialect can be hard to track down.
      %p
        If you have a specific question, however, there's no harm in asking me directly.
        = link_to "Contact.", contact_path

    %section
      %h2 Why is Finland/Estonia/Latvia part of Novegrad? Why do Finnish/Estonian/Latvian use Cyrillic?
      %p I have seen how some people, when they first see this site, assume it has some sort of nationalistic undertones, especially given the incorporation of Finland and the Baltic states into Novegrad. Quite simply, this was never my intent. As stated above, I wanted this alternative history to have a high degree of realism, and so it naturally would include many things that some people (including myself!) find distasteful. I am not trying to state that these regions are rightfully part of Russia (besides, since I've severed Novegrad off from Russia, why are these people seeing Novegrad as a Russian surrogate?). I realize, however, that part of this may be a flaw of how I've chosen to present this website. I never intended Novegrad to be a utopia, and in fact I have many ideas for how it is not, including strong independence movements in parts of Finland and the Baltic states! However, since this site is designed to imitate the website of a national government, I've found it somewhat hard to present many of the more distateful aspects of Novegrad; after all, what government would advertise to the world all of its flaws? I've still been battling with the best way to present these, and have been further hindered by a busy schedule. One option that I'm looking at, however, would be indirectly through things such as the news articles on the front page.
      %p The use of the Cyrillic script falls into the same category. I envisioned this as one of those slightly more distateful aspects, with the Novegradian government mandating all official languages use the Cyrillic script, much as Russia has done relatively recently (remember, Novegrad was a close Soviet satellite for most of the 20th century). Of course, such a mandate is hard to enforce in practice, and outside of schools and government I would imagine the use of both Cyrillic and Latin scripts is fairly widespread.

    %section
      %h2 What about the rest of the world?
      %p I don't have much interest in developing the rest of the world at present. I'm more than occupied simply expanding on Novegrad without having to deal with an entire world. You can see that in the history of Novegrad as well—much of the external history of the world (the Crimean War, the two World Wars, the Cold War, the Soviet Union...) hasn't changed significantly, except for the addition of a new nation participating in world affairs. I wanted to try to keep the general flow of history the same as much as possible; redesigning all of world history since 1471 is just too great a task.
      %p That isn't to saw there will never be any more information on the rest of the world appearing, however. Just don't expect it.

    %section
      %h2 What's next?
      %p I wish I could give you an answer that I could promise won't change in the near future. There's a number of projects I'd like to do, but it ultimately comes down to finding the time and motivation.
      %p At present I'm mostly focusing on the linguistics aspects of Veche.Net, both in the form of additional constructed languages and possibly some utilities to help document the process of language change. I wouldn't expect any major updates to the "Republic of Novegrad" section of the site any time soon; active development stopped back in 2010, hence the vaguely retro appearance of this portion of the website and the fact that a lot of the graphics and translations still represent an outdated form of Novegradian (oops!).

    %section
      %h2 Who are you?
      %p My name is Martin Posthumus. I'm a web developer currently living in Maryland. While most of what you see on this site I did myself, I have also had help and support from quite a few people from the very beginning, to whom I am very thankful.
