$background_color: #D7C87D;
$header_color: #7D5A46;
$link_color: #7D5A46;
$table_border_bottom_right: #C7B86D;
$table_border_top_left: #B7A85D;

body.grammar.alashian {

  header {
    background-color: $background_color;

    h1, p {
      color: $header_color;
    }
  }

  a {
    color: $link_color;
  }

  a.footnote {
    color: #999999;

    &:hover, &:active {
      color: #EEEEEE;
      background-color: $link-color;
    }
  }

  p.footnote.highlight {
    color: #333333;
    background-color: lighten($background_color, 10%);
  }

  td.label, td.arrow, th {
    background-color: $background-color;
  }

  th.etymology {
    width: 200px;
  }

  table {
    border: solid 3px $background_color;
    border-bottom: solid 2px $table_border_bottom_right;
    border-right: solid 2px $table_border_bottom_right;
    border-top: solid 2px $table_border_top_left;
    border-left: solid 2px $table_border_top_left;

    &.textgloss {
      border: dotted 1px $table_border_top_left;
      border-left: solid 5px $table_border_top_left;
    }

    &.header {
      color: $header_color;
    }
  }

  .adj-form {
    border: solid 2px #990;
  }

  .highlight {
    color: red;
  }
}
