body.grammar {
  background-repeat: repeat-x;
  margin: 4% 5% 6% 5%;
  padding-bottom: 25px;
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", "Helvetica", sans;

  #content {
    position: relative;
    color: #000000;
    background: #FFFFFF;
    padding: 10px;
    border: solid 1px #444;
    box-shadow: 3px 3px 4px #333;
    margin-bottom: 10px;
  }

  #footer {
    color: #000000;
    font-size: 12px;
    font-style: italic;
  }

  p {
    color: #000000;
    font-size: 12px;

    &.nav {
      text-align: center;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 28px;
  }

  h2 {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
  }

  h3 {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
  }

  h4 {
    color: #000000;
    font-style: italic;
    font-size: 12px;
  }

  a {
    &:link, &:visited {
      text-decoration: none;
    }

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  hr {
    border-left: 0px;
    border-right: 0px;
    color: #FFFFFF;
    height: 6px;
    margin-top: -15px;

    &.footnote {
      height: 1px;
    }
  }

  td {
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
  }

  td.label, td.arrow, th {
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }

  table {
    margin: 5px;
    margin-left: 1cm;
    border-collapse: collapse;

    &.textgloss {
      margin-left: 0.5cm;

      td {
        padding: 4px;
        vertical-align: top;
        text-align: left;
        padding-right: 20px;
      }
    }

    &.invisible {
      border: none;

      td {
        text-align: left;
        padding-left: 10px;
      }
    }

    &.header {
      font-weight: bold;
      font-size: 28px;
      border: none;
      margin-left: 0cm;
      margin-bottom: 0.5cm;

      td {
        font-size: 28px;
        vertical-align: top;
      }
    }

    &.prepositiontable {
      text-align: center;
    }

    &.soundchange {
      width: 45%;

      td {
        width: 10%;

        &.arrow {
          width: 5%;
        }
      }
    }

    td.notcognate {
      color: #999999;
    }
  }

  span.native {
    font-style: normal;
  }

  .translit {
    font-style: italic;
  }

  span.gloss {
    font-style: normal;
  }

  span.eng {
    font-style: italic;
  }

  li {
    color: #000000;
    font-size: 12px;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: none;

    li {
      padding-bottom: 5px;
    }

    ol {
      list-style-type: lower-latin;
    }

    span {
      padding-left: 10px;
      display: block;
    }
  }

  .center {
    text-align: center;
  }

  .imgcaption {
    font-style: italic;
  }

  abbr {
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
  }

  .gloss {
    font-style: italic;
  }

  .pattern {
    font-variant: small-caps;
  }

  #coverart {
    float: right;
    padding: 20px;
  }

  span.blockinlist {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }

  p.translationsblock {
    font-style: italic;
    clear: both;
    padding-top: 20px;
    padding-left: 1cm;
  }

  .glossblock {
    clear: both;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    dl {
      float: left;
      margin: 0 0.5em 0.5em 0;
      text-align: left;
    }

    dt {
      font-style: italic;
    }

    dd {
      margin-left: 0cm;
    }
  }
}
