body.lexicon {
  font-size: large;
  color: #212121;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  #lexicon-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  header {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5em;
    color: white;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 2;
    transition: height 0.3s;

    h1 {
      position: absolute;
      font-weight: 300;
      top: 0;
      left: 0;
      margin: 10px;
    }
  }

  #search {
    float: right;
    padding: 10px 10px 0 0;
    text-align: right;

    #searchbox {
      border: none;
      border-bottom: solid 3px white;
      color: #333;
      height: 20px;
      width: 250px;
      padding: 2px 5px;
      font-weight: 600;
      transition: border-bottom-color 0.3s, background-color 0.3s;

      &:focus {
        border-bottom: solid 3px #2196F3;
        outline: 0;
        box-shadow: none;
      }
    }

    button {
      height: 27px;
      font-size: larger;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      line-height: 20px;
      position: relative;
      top: 4px;
      transition: color 0.3s;

      &:hover {
        color: #2196F3;
      }
    }

    a.advanced {
      display: block;
      font-size: x-small;
      text-decoration: none;
      position: relative;
      margin-top: 5px;
      left: -40px;
      cursor: pointer;
      font-weight: 200;

      &:before {
        content: "Show ";
      }
    }

    #advanced-search {
      display: none;
      font-size: small;

      input {
        border: none;
        border-bottom: solid 3px white;
        outline: 0;
        box-shadow: none;
        transition: border-bottom-color 0.3s;

        &:focus {
          border-bottom: solid 3px #2196F3;
        }
      }

      table {
        margin-right: 33px;
      }

      th {
        padding-left: 20px;
        font-weight: 300;
      }

      .checkbox-group {
        display: inline-block;
        margin-left: 30px;
      }
    }
  }

  nav {
    table.alphabet {
      position: absolute;
      bottom: 5px;
      width: 100%;
      text-align: center;
      table-layout: fixed;

      a {
        color: white;
        text-decoration: none;
        font-weight: 200;
        transition: color 0.3s;

        &:hover, &:active {
          color: #2196F3;
        }
      }
    }
  }

  div.loading {
    height: 4px;
    width: 100%;
    position: absolute;
    top: 86px;
    overflow: hidden;
    background-color: black;
    z-index: 3;
    transition: top 0.3s;

    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: #2980b9;
      -webkit-animation: loading 2s linear infinite;
      animation: loading 2s linear infinite;
    }
  }

  main {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  #search-results {
    position: absolute;
    top: 5em;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-right: solid 1px #333333;
    width: 25%;
    z-index: 0;
    padding-bottom: 5em;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: top 0.3s;

    ul {
      list-style-type: none;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        padding: 3px 8px;
        background-color: transparent;
        transition: background-color 0.3s;

        &:hover {
          background-color: #DDDDDD;
        }
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    p {
      font-style: italic;
      padding: 10px;
    }
  }

  #entry-view {
    position: absolute;
    width: 70%;
    top: 6em;
    right: 0px;
    bottom: 0px;
    padding: 5px 5px 5em 5px;
    background-color: white;
    z-index: 0;
    overflow-y: scroll;
    font-size: medium;
    transition: top 0.3s;

    div {
      border: solid 1px transparent;
      margin: 2px;
      transition: border 0.7s;
    }

    #admin-controls {
      float: right;

      a {
        display: inline-block;
        color: #EFEFEF;
        font-size: x-large;
        margin: 0px 10px 0px 0px;
        transition: color 0.3s;

        &:hover {
          color: #2196F3;
        }
      }
    }

    span.comment, span.transliteration {
      font-style: italic;
    }

    span.label {
      font-weight: bold;
    }

    a {
      color: #0066FF;
      text-decoration: none;
      font-style: normal;

      &:hover, &:active {
        text-decoration: underline;
      }
    }

    div.editable {
      border: solid 1px #EFEFEF;
      border-radius: 3px;
      margin: 2px;
      cursor: pointer;
      &:hover {
        background-color: #ECF6FF;
      }
      &:empty {
        background-color: #FFF1AD;
      }
      &:empty:before {
        color: #FFCC66;
      }
    }

    div.missing-formatter {
      background-color: red;
    }

    div.word {
      font-size: xx-large;
      display: inline-block;
      &:empty:before { content: "Word"; }
    }

    div.root-word {
      font-size: xx-large;
      display: inline-block;

      &:before {
        content: "*";
      }

      &:empty:before { content: "Root"; }
    }

    div.ext-root {
      font-size: x-large;
      display: inline-block;
      margin-left: 10px;

      &:before {
        content: "(*";
      }

      &:after {
        content: "-)";
      }

      &:empty {
        &:before { content: "Ext. Root"; }
        &:after { content: ""; }
      }
    }

    div.transliteration, div.root-transliteration {
      font-size: large;
      font-style: italic;
      padding-left: 5px;
      display: inline-block;
      &:empty:before { content: "Transliteration"; }
    }

    div.root-transliteration {
      font-size: large;
      font-style: italic;
      margin-left: 10px;
      display: inline-block;

      &:before {
        content: "*";
      }

      &:empty:before { content: "Root Transliteration"; }
    }

    div.ext-root-transliteration {
      font-size: large;
      font-style: italic;
      display: inline-block;

      &:before {
        content: "/*";
      }

      &:empty:before { content: "Ext. Root Transliteration"; }
    }

    div.pronunciation {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      display: block;

      &:empty:before { content: "Pronunciation"; }
    }

    div.part-of-speech {
      display: block;

      &:empty:before { content: "Part of Speech"; }
    }

    div.root {
      display: block;
      font-size: 90%;

      &:before {
        content: "Root: ";
      }

      &:empty:before { content: "Root"; }

      a.root {
        &:before {
          content: "*";
          color: black;
          text-decoration: none;
        }
      }
    }

    div.definition {
      display: block;

      &:empty:before { content: "Definition"; }
    }

    div.important-forms {
      margin-bottom: 15px;
      display: block;

      p {
        margin: 0;
        padding: 0;
      }

      &:empty:before { content: "Important Forms"; }
    }

    div.idioms {
      &:empty:before { content: "Idioms"; }
    }

    div.notes {
      display: block;

      fieldset {
        border: solid 1px #999999;
        margin-right: 50px;
        font-style: italic;
      }

      &:empty:before { content: "Notes"; }
    }

    div.cognates {
      font-style: italic;
      display: block;

      > p:first-child:before {
        content: "cf. ";
      }

      &:empty:before { content: "Cognates"; }
    }

    div.etymology {
      font-style: italic;
      display: block;

      > p:first-child:before {
        content: "Etym: ";
      }

      &:empty:before { content: "Etymology"; }
    }

    div.cross-references {
      font-style: italic;
      display: block;

      &:before {
        content: "See Also: ";
      }

      ul {
        list-style-type: none;
        margin-top: 0px;
        padding-left: 0px;
      }

      &:empty:before { content: "Cross-References"; }
    }

    div.derivatives {
      fieldset {
        border: solid 1px #CCCCCC;
      }

      legend {
        color: #666666;
      }

      div.derivative-word {
        margin: 5px;
        background-color: #EFEFEF;
        padding: 10px;

        .word {
          font-size: large;
        }

        .transliteration {
          font-size: medium;
        }

        .pronunciation {
          font-size: small;

          &:before {content: "[";}
          &:after {content: "]";}
        }

        .definition {
          margin-left: 15px;

          &:before {content: "\"";}
          &:after {content: "\"";}
        }

        .notes {
          font-style: italic;
        }
      }

      &:empty:before { content: "Derivatives"; }
    }

    div.morphology-table {
      table {
        border-collapse: collapse;
      }

      colgroup.primary {
        border: solid 1px #DDDDDD;
      }

      th {
        background-color: #DDDDDD;
        padding: 3px 5px;
        font-size: smaller;

        &.morphology-info {
          font-weight: 400;
          font-size: medium;
        }

        .subtype {
          font-weight: 200;
          font-size: smaller;
        }
      }

      td {
        padding: 2px 5px;
      }

      table.adjectives {
        text-align: center;
      }

      &:empty:before { content: "Morphology"; }

      &.editable {
        font-size: smaller;
        font-family: monospace;
        text-align: left;

        table {
          border: solid 1px #CCC;
        }

        th {
          font-variant: small-caps;
        }

        td {
          background-color: #EFEFEF;
          cursor: text;

          &:hover {
            background-color: #ECF6FF;
          }
        }

        &:hover {
          background-color: inherit;
        }
      }
    }
  }

  button.submit {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    padding: 8px 12px;
    margin: 10px 0px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2196F3;
    }
  }

  table.editable-table {
    text-align: left;
    border: solid 1px #CCCCCC;
    margin: 3px;
    border-collapse: collapse;

    tr {
      border: dotted 1px #aaa;
    }

    th {
      background-color: #ccc;
      font-variant: small-caps;
      font-size: smaller;
      padding: 2px 20px 2px 10px;
    }

    td {
      padding: 2px 20px;
    }
  }
}

body.lexicon.advanced-search-open {
  header {
    height: 10em;
  }

  #search {
    #searchbox {
      background-color: #333333;
      border-bottom-color: #333333;
      pointer-events: none;
      tab-index: -1;
    }

    #advanced-search {
      display: block;
    }

    a.advanced:before {
      content: "Hide ";
    }
  }

  div.loading {
    top: 176px;
  }

  #search-results {
    top: 10em;
  }

  #entry-view {
    top: 11em;
  }
}

@-webkit-keyframes loading {
  from {left: -200px; width: 30%;}
  50%  {width: 30%;}
  70%  {width: 70%;}
  80%  {left: 50%;}
  95%  {left: 120%;}
  to   {left: 100%;}
}
