$background_color: #6AA5BF;
$header_color: #FFFFFF;
$link_color: darken($background_color, 15%);
$table_border_bottom_right: #C6D1E2;
$table_border_top_left: #B6C1D2;

body.grammar.novegradian {

  header {
    background-color: $background_color;

    h1, p {
      color: $header_color;
    }
  }

  a {
    color: $link_color;
  }

  td.label, td.arrow, th {
    background-color: $background_color;
  }

  table {
    border: solid 3px $background_color;
    border-bottom: solid 2px $table_border_bottom_right;
    border-right: solid 2px $table_border_bottom_right;
    border-top: solid 2px $table_border_top_left;
    border-left: solid 2px $table_border_top_left;

    &.textgloss {
      border: dotted 1px $table_border_top_left;
      border-left: solid 5px $table_border_top_left;
    }
  }

  span.cyrillic-numeral {
    text-decoration: overline;
  }
}
