$background_color: #6AA5BF;
$header_color: #FFFFFF;
$link_color: darken($background_color, 15%);
$table_border_bottom_right: #C6D1E2;
$table_border_top_left: #B6C1D2;

body.grammar.novegradian {
  header {
    background-color: $background_color;

    h1, p {
      color: $header_color;
    }
  }

  a {
    color: $link_color;
  }

  a.footnote {
    color: #999999;

    &:hover, &:active {
      color: $header_color;
      background-color: $link_color;
    }
  }

  a.xref {
    &:hover:after, &:active:after {
      color: $header_color;
      background-color: $link_color;
    }
  }

  p.footnote.highlight {
    background-color: lighten($background_color, 10%);
  }

  td.label, td.arrow, th {
    background-color: $background_color;
    color: white;
  }

  table.textgloss {
    border: solid 1px lighten($table_border_top_left, 15%);
    border-left: solid 5px $table_border_top_left;

    td.index {
      font-weight: bold;
      color: $table_border_top_left;
    }
  }

  table.present-future {
    td {
      min-width: 80px;
    }
  }

  table.noun-declension {
    th {
      min-width: 70px;
    }

    td {
      min-width: 80px;
    }
  }

  table.prepositions {
    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(2) {
      width: 200px;
      text-align: left;
    }

    td:nth-child(4) {
      width: 300px;
      text-align: left;
    }
  }

  span.cyrillic-numeral {
    text-decoration: overline;
  }

  figure.slavic-family {
    text-align: center;

    div.family {
      border: solid 1px #999;
      float: left;
      height: 20em;
      width: 10em;
      margin: 20px 5px 10px 5px;
    }

    h1 {
      font-size: large;
      background-color: #CCC;
      width: 80%;
      display: inline-block;
      position: relative;
      top: -10px;
    }

    h2 {
      margin-top: 0px;
      font-size: 110%;
      font-weight: 300
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li.extinct {
      font-style: italic;
    }

    small {
      font-style: italic;
      float: right;
      margin-right: 10px
    }
  }

  table.correlatives {
    &.left {
      float: left;
      margin-left: 0;
      margin-right: 30px;
    }

    &.right {
      float: right;
    }
  }

  table.colors {
    width: 200px;
    height: 50px;
    border: solid 1px #333333;
    margin-left: 0;

    td {
      border: solid 1px #333333;
    }
  }

  table.color-wrapper {
    td {
      text-align: left;
      padding-left: 10px;
    }
  }
}
