$background_color: #9999CC;
$header_color: #333366;
$divider_color: #333366;
$footer_color: #DBC9FF;
$link_color: #666699;
$table_border_bottom_right: #8989BC;
$table_border_top_left: #7979AC;

body.grammar.ochets {
  background-color: $background_color;
  background-image: image-url('ochets/bg.png');

  #footer {
    color: $footer_color;
  }

  h1 {
    color: $header_color;
  }

  a {
    color: $link_color;
  }

  hr {
    border-top: 3px solid $divider_color;
    border-bottom: 1px solid $divider_color;

    &.footnote {
      border: solid 1px $divider_color;
    }
  }

  td.label, td.arrow, th {
    background-color: $background-color;
  }

  table {
    border: solid 3px $background_color;
    border-bottom: solid 2px $table_border_bottom_right;
    border-right: solid 2px $table_border_bottom_right;
    border-top: solid 2px $table_border_top_left;
    border-left: solid 2px $table_border_top_left;

    &.textgloss {
      border: dotted 1px $table_border_top_left;
      border-left: solid 5px $table_border_top_left;
    }

    &.header {
      color: $header_color;
    }
  }
}
