$background_color: #333366;
$header_color: #FFFFFF;
$link_color: #666699;
$table_border_bottom_right: #8989BC;
$table_border_top_left: #7979AC;
$table_background_color: #9999CC;

body.grammar.ochets {
  header {
    background-color: $background_color;

    h1, p {
      color: $header_color;
    }
  }

  a {
    color: $link_color;
  }

  a.footnote {
    color: #999999;

    &:hover, &:active {
      color: $header_color;
      background-color: $link-color;
    }
  }

  p.footnote.highlight {
    background-color: lighten($background_color, 50%);
  }

  td.label, td.arrow, th {
    background-color: $table_background_color;
  }

  td.assimilated {
    font-weight: bold;
  }

  table.textgloss {
    border: solid 1px lighten($table_border_top_left, 25%);
    border-left: solid 5px $table_border_top_left;

    td.index {
      font-weight: bold;
      color: $table_border_top_left;
    }
  }

  table.slottable {
    th {
      width: 5em;
    }

    td {
      vertical-align: top;
    }
  }

  table.noundecl {
    th {
      width: 10em;

      &.lefthandrot {
        width: 5em;
        max-width: 5em;
      }
    }

    td {
      text-align: center;
    }

    .rotate {
      display: block;
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  table.numdecl {
    th.num {
      width: 5em;
    }

    .och {
      width: 10em;
    }
  }

  table.invisible {
    margin-left: 0;
  }

  #sandhitable {
    text-align: center;
    border-collapse: collapse;
  }

  #sandhitablekey {
    border-collapse: collapse;
    border: none;

    td {
      text-align: left;
    }

    col.key {
      border: solid 1px black;
      width: 30px;
    }
  }

  #sandhi {
    .assimToSecond {
      background-color: #bbd500;
      font-weight: bold;
    }

    .assimToFirst {
      background-color: #fffb78;
      font-weight: bold;
    }

    .voiceToSecond{
      background-color: #ffd927;
      font-weight: bold;
    }

    .voiceToFirst{
      background-color: #d6d7ff;
      font-weight: bold;
    }

    .lossOfSecond {
      background-color: #a8d6ff;
      font-weight: bold;
    }

    .nasalOfFirst {
      background-color: #f1774e;
      font-weight: bold;
    }

    .denasalOfSecond {
      background-color: #ab80d6;
      font-weight: bold;
    }

    .poaInitialNasal {
      background-color: #ffd5a9;
      font-weight: bold;
    }

    .assimWithLoss {
      background-color: #159b9c;
      font-weight: bold;
    }

    .lossOfFirst {
      background-color: #939100;
      color: white;
      font-weight: bold;
    }

    .denasalOfFirst {
      background-color: #941200;
      color: white;
      font-weight: bold;
    }

    .lenition {
      background-color: #011892;
      color: white;
      font-weight: bold;
    }

    .fortition {
      background-color: #0a8f00;
      color: white;
      font-weight: bold;
    }

    .epenthesis {
      background-color: #942192;
      color: white;
      font-weight: bold;
    }

    .excrescence {
      background-color: #ff4f7a;
      font-weight: bold;
    }

    .mixed {
      background-color: #5e5e60;
      color: white;
      font-weight: bold;
    }

    #otherContent {
      display: none;
    }

    a {
      cursor: pointer;
    }
  }
}
