$background_color: #9999CC;
$header_color: #333366;
$divider_color: #333366;
$footer_color: #DBC9FF;
$link_color: #666699;
$table_border_bottom_right: #8989BC;
$table_border_top_left: #7979AC;

body.grammar.ochets {
  background-color: $background_color;
  background-image: image-url('ochets/bg.png');

  #footer {
    color: $footer_color;
  }

  h1 {
    color: $header_color;
  }

  a {
    color: $link_color;
  }

  hr {
    border-top: 3px solid $divider_color;
    border-bottom: 1px solid $divider_color;

    &.footnote {
      border: solid 1px $divider_color;
    }
  }

  td.label, td.arrow, th {
    background-color: $background-color;
  }

  td.assimilated {
    font-weight: bold;
  }

  table {
    border: solid 3px $background_color;
    border-bottom: solid 2px $table_border_bottom_right;
    border-right: solid 2px $table_border_bottom_right;
    border-top: solid 2px $table_border_top_left;
    border-left: solid 2px $table_border_top_left;

    &.textgloss {
      border: dotted 1px $table_border_top_left;
      border-left: solid 5px $table_border_top_left;
    }

    &.header {
      color: $header_color;
    }

    &.slottable {
      th {
        width: 5em;
      }

      td {
        vertical-align: top;
      }
    }

    &.noundecl {
      th {
        width: 10em;

        &.lefthandrot {
          width: 5em;
          max-width: 5em;
        }
      }

      td {
        text-align: center;
      }

      .rotate {
        display: block;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }

    &.numdecl {
      th.num {
        width: 5em;
      }

      .och {
        width: 10em;
      }
    }
  }

  #sandhitable {
    text-align: center;
    border-collapse: collapse;
  }

  #sandhitablekey {
    border-collapse: collapse;
    border: none;

    td {
      text-align: left;
    }

    col.key {
      border: solid 1px black;
      width: 30px;
    }
  }

  #sandhi {
    .assimToSecond {
      background-color: #bbd500;
      font-weight: bold;
    }

    .assimToFirst {
      background-color: #fffb78;
      font-weight: bold;
    }

    .voiceToSecond{
      background-color: #ffd927;
      font-weight: bold;
    }

    .voiceToFirst{
      background-color: #d6d7ff;
      font-weight: bold;
    }

    .lossOfSecond {
      background-color: #a8d6ff;
      font-weight: bold;
    }

    .nasalOfFirst {
      background-color: #f1774e;
      font-weight: bold;
    }

    .denasalOfSecond {
      background-color: #ab80d6;
      font-weight: bold;
    }

    .poaInitialNasal {
      background-color: #ffd5a9;
      font-weight: bold;
    }

    .assimWithLoss {
      background-color: #159b9c;
      font-weight: bold;
    }

    .lossOfFirst {
      background-color: #939100;
      color: white;
      font-weight: bold;
    }

    .denasalOfFirst {
      background-color: #941200;
      color: white;
      font-weight: bold;
    }

    .lenition {
      background-color: #011892;
      color: white;
      font-weight: bold;
    }

    .fortition {
      background-color: #0a8f00;
      color: white;
      font-weight: bold;
    }

    .epenthesis {
      background-color: #942192;
      color: white;
      font-weight: bold;
    }

    .excrescence {
      background-color: #ff4f7a;
      font-weight: bold;
    }

    .mixed {
      background-color: #5e5e60;
      color: white;
      font-weight: bold;
    }

    #otherContent {
      display: none;
    }

    a {
      cursor: pointer;
    }
  }
}
