$skyline-image: image-url('dc.jpg');

.programming {
  background-image: $skyline-image;
  background-position: center top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #content {
    border: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;

    &:before {
      display: block;
      width: 100%;
      height: 100%;
      background-image: $skyline-image;
      background-position: center -8px;;
      background-repeat: no-repeat;
      content: ' ';
      -webkit-filter: blur(15px);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='15'%20/></filter></svg>#blur");
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
      filter: blur(15px);
    }

    font-weight: 200;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: white;
  }

  .frost {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(102, 204, 255, 0.4);
    padding: 15px;
  }

  .content-wrapper {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: solid 3px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    overflow: scroll;
  }

  .portrait {
    background-color: rgba(255, 255, 255, 0.4);
    background-image: image-url('programming/portrait.jpg');
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin: 0px 15px 15px 10px;
    width: 200px;
    height: 250px;
  }

  h1 {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0px 30px;
    font-weight: 200;
  }

  h2 {
    font-weight: 200;
    border: solid 3px rgba(255, 255, 255, 0.4);
    border-left: none;
    width: 90%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 3px 0px 3px 30px;
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #66CCFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    margin-left: 10px;
    margin-right: 10px;
    border-collapse: collapse;
    border: solid 3px rgba(255, 255, 255, 0.4);

    th {
      border: solid 3px rgba(255, 255, 255, 0.4);
    }

    td {
      border: solid 3px rgba(255, 255, 255, 0.4);
      vertical-align: top;
      min-width: 250px;
    }
  }

  .programming-icon {
    border: solid 3px rgba(255, 255, 255, 0.4);
    margin: 10px 12px;
    padding: 10px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;

    .logo {
      float: left;
      height: 35px;
      width: 35px;
      margin-right: 20px;
    }

    .letter-icon {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 100px;
      height: 100%;
      width: 100%;
      line-height: 35px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      cursor: default;
      transition: background-color 0.3s, color 0.3s;
    }

    img {
      position: absolute;
      height: 35px;
      width: 35px;
      transition: opacity 0.3s;

      &.transparent-icon {
        opacity: 1;
      }

      &.regular-icon {
        opacity: 0;
      }
    }

    &:hover {
      border-color: white;
      background-color: steelblue;

      .letter-icon {
        background-color: white;
        color: steelblue;
      }

      img.transparent-icon {
        opacity: 0;
      }

      img.regular-icon {
        opacity: 1;
      }
    }
  }

  #footer {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: smaller;
    color: white;
  }
}
