- content_for :title, "Veche.Net — The Republic of Novegrad — The Council of Nations"

.content-block
  - case @language
    - when :en
      %h1 The Council of Nations

      .content-block-content
        %section
          %h2 Functions of the Council
          %p The Council of Nations is the upper house of the State Assembly. It receives legislation approved by the Veche to debate, which must be passed by a simple majority (46 votes). A bill that is passed must receive the signature of the Council Chairman before being passed to the President for approval. For constitutional amendments, a two-thirds majority (60 votes) must approve the bill. A number of committees exist to consider legislation and policies.
          %p If the bill is not passed, a reconciliatory committee consisting of members from both houses may be formed to rewrite the bill and reintroduce it to the Veche.
          %p A presidential veto of a bill may be overridden by a two-third vote from both houses.
          %p The Council of Nations may also write bills to introduce to the Veche. Since the councilors represent regional governments, most legislation written by the Council affects certain regions, but not the entire nation.

        %section
          %h2 Structure of the Council
          %p The Council consists of 90 councilors, two from each oblost. They are selected by the governments of each oblost to represent their interests in parliament. In addition, each republic sends two representatives to represent the republic as a whole. These representatives may introduce legislation and take part in discussions, but may not vote. The terms for all representatives, voting or non-voting, vary and are determined by the laws of the oblost or republic they come from.
          %p Officially, none of the representatives may belong to any political party, as the Council is supposed to be completely nonpartisan. While serving in the Council no one may give a donation to or receive one from any party.
          %p From amongst the Council one person must be chosen to serve as the Council Chairman. This is often the most senior official, although it is not a requirement. The chairman leads discussion, schedules bills, determines committee leadership, and signs all bills approved by the Council before being taken to the President. The position is currently occupied by Anatólije Nikoláievice Vódeskei from Voloğdeskáia Oblost.

    - when :nv
      %h1 Собранье Народ

      .content-block-content
        %section
          %h2 Вунксѣ Собраньа
          %p Собранье-те Народ е вуихьей йстебой Сударестуеннаево собраньа. Приймѣет деля прешуненьа законодатестуо, затуердено авиной вѣѕиной Вѣкьѣ (46 глас). Затуерденей проехте-те надо би приймѣти позписе Предшѣдѣ Собраньа пред, неж предасцин Президентем зав ево затуерденьем. Деляв оправ ко конституѕей, вѣѕина трем цедиртиеми (60 глас) надо би то затуердити. Ест сколицестуо комитет за то-це розвагати законодатестуо со политикам.
          %p Анно проехте-те не затуердицин, сорамнекье комитете можеби остане, сокладакьей со преставителам зев обух йстеб со тѣм-це препихьут и предложат то Вѣкьем вноу.
          %p Вето-то од президента на проехтен можеби ануљено на вѣѕиной трем цедиртиеми зев обух йстеб.
          %p Собранье-те Народ тож может напизати проехти деля предложеньа Вѣкьем. На то-це сенаторя престауловати за раённи правястуа, вѣѕина законодатестуок, напихьена на Собраньем, казасци раёнам озобенами, а не кѣлой страной.

        %section
          %h2 Строе Собраньа
          %p Собранье сокладовасциш со 90 сенатор-то, доваин зе кожнѣ облости. Они – вуибрани на правястуом кожнѣ облости со тѣм-це престауловати зав ех интереси парламентѣ. Кроми шево, кожна республика солет по доваем преставителам со тѣм-це престауловаста за кѣлу республику. Ши преставители можут предлежити законодатестуо и оцестоватиш во преговорѣх, но нелга име гласовати. Доби виех преставител и гласовакь и негласовакь сомѣньатиш и сопредѣловатишин на законам облости или республикѣ, зе котрѣе пришели.
          %p Неке зе преставител-то не может овисяљнѣ буити шлена некадѣ полидицескѣ партин, на то-це Собранье Народ би надо буити совим бесстранне. Еда проходи Собраньѣ, неке не может ни давати дар некадой партей ни приймѣти дар од некад партин.
          %p Снутри Собраньа, една дужа-та надо би вуибрана за то-це проходит в акостуѣ предшѣдѣ Собраньа. Ше-и цестѣ оредникем найстаршем, но ше нет нугьѣ. Предшѣда-та водит преговори, ставит проехти на календарен, сопредѣловаст доводестуо комитет и позписоваст вие проехти, затуердени на Собраньем пред, неж посолуцин Президентем. Ше мѣсто нинѣ заньимо на Водескием Анатолием Николаевицем од облости Волоғдескѣе.
