- content_for :title, "Veche.Net — The Republic of Novegrad — Administrative Divisions"

.content-block
  %h1 Administrative Divisions

  .content-block-content
    %p The Republic of Novegrad is divided into 45 provinces, the <i>óblostie</i> or oblosts (sg. <i>óblosti</i> or oblost). Each one is assigned a numeral code (1-45), as can be seen on this map. Each oblost, its capital, and a brief description is listed below.
    = image_tag "government/oblosts.png", :alt => "Map of Oblosts"

    %section
      %h2 Republic of Novegrad
      %ol
        %li <b>Novegráde Velíkei</b> — Capital: Novegráde Velíkei. This region consists only of the city of Novegráde Velíkei proper. Population 4.8 million.
        %li <b>Novegradeskáia Óblosti</b> — Capital: Vółhove. This region consists of the region around Novegráde Velíkei, including its metropolitan area. It is densely populated due to all of the smaller cities clustered around Novegráde. Population 3.55 million.
        %li <b>Neugradeskáia Óblosti</b> — Capital: Néugrade. This region includes the cities of Néugrade and Víborge, both large port cities, and the Karelian isthmus. It too is very urban. Population 3.9 million.
        %li <b>Ielmereskáia Óblosti</b> — Capital: Stáraia Rússa. Ielmereskáia (named for Lake Ielméri) is largely agricultural in its southern half, and forested in its northern half. The largest city is the ancient Stáraia Rússa, located on the opposite side of Lake Ielméri from Novegráde Velíkei. Population 770,000.
        %li <b>Pleskoveskáia Óblosti</b> — Capital: Pleskóve. Pleskoveskáia is also largely agricultural in the south and forested in the north, although several larger cities are scattered about. Pleskóve, one of Novegrad's oldest cities, is connected to the Baltic Sea through Pleskóve Lake and the Nárova River. Population 1.1 million.
        %li <b>Śebeźeskáia Óblosti</b> — Capital: Śebéźe. Śebeźeskáia is mostly flat farmland and scattered lakes punctuated by medium-sized, though compact, cities. Population 1.1 million.
        %li <b>Novorostoveskáia Óblosti</b> — Capital: Novorostóve. Much of Novorostoveskáia is covered by farmland and orchards. There are few large cities. Population 700,000.
        %li <b>Videbeskáia Óblosti</b> — Capital: Vítebeske. Videsbeskáia is an industrial region with several major cities. Between them lies one of the nation's most productive agricultural districts. Population 1.7 million.
        %li <b>Łovoteskáia Óblosti</b> — Capital: Velíkije Lúki. Łovoteskáia is another largely agricultural district, where Velíkije Lúki in its far north is by far the largest city. It is named for the Łovóti River that runs through it. Population 710,000.
        %li <b>Reźeveskáia Óblosti</b> — Capital: Reźéve. Reźeveskáia contains a number of medium to large sized cities. The large population originates from the strategic location on medieval trade routes between Novegrad and Moscow and more recent industrialization. Population 1.5 million.
        %li <b>Mostegradeskáia Óblosti</b> — Capital: Mostegráde. Mostegradeskáia is another industrial region lying on major medieval trade routes. Mostegráde is just upstream of the major Russian city of Tver, and has become a major border city through which goods are sent. Population 1.6 million.
        %li <b>Tihuineskáia Óblosti</b> - Capital: Tihuíne. Tihuineskáia is a densely-populated region with numerous medium-sized cities. Much of the oblost is still forested, although these are slowly giving way to the expanding cities and farmland. Population 1.6 million.
        %li <b>Sovireskáia Óblosti</b> — Capital: Sóvirica. Sovireskáia (named for the Sóvire River forming its northern boundary) is thinly populated and mostly forested, except along the Sóvire River, which connects Lakes Ládoga and Onéga and forms part of the major Baltic-White Sea Waterway. Population 620,000.
        %li <b>Sudeskáia Óblosti</b> — Capital: Śěvérnaia Suda. Sudeskáia (named for the Suda River) is a populous region lying between the Novegradian East and the Novegradian West. Many routes between the east and west pass through Sudeskáia. Population 1.3 million.
        %li <b>Mołoźeskáia Óblosti</b> — Capital: Mołóga. Mołoźeskáia óblosti includes the two large cities of Mołóga and Cerepóvese, both of which lie near the beginning of the Volga-Baltic Waterway. Population 1.6 million.
        %li <b>Voloğdeskáia Óblosti</b> — Capital: Vóloğda. Vóloğda, one of the Republic's largest cities, is located in Voloğdeskáia. It is a major commercial center. Population 2.0 million.
        %li <b>Běloźereskáia Óblosti</b> — Capital: Bělóźero. Bělóźereskáia is located along the Volga-Baltic Waterway, although it is not densely populated. It has a large Karelian population. Population 1.0 million.
        %li <b>Oneźeskáia Óblosti</b> — Capital: Onéźeske. Much of Oneźeskáia is forested, except along Lake Onéga and the Volga-Baltic Waterway. Onéźeske occupies an important position along both the Volga-Baltic and Baltic-White Sea Waterways. Population 1.3 million.
        %li <b>Karğopoleskáia Óblosti</b> — Capital: Kárğopole. This region along the east coast of Lake Onéga is mostly forested and sparsely populated. Kárğopole was one of the earliest Slavic outposts in the far north. Population 615,000.
        %li <b>Vélskaia Óblosti</b> — Capital: Vélseke. Vélskaia was long viewed as the gateway to the Novegradian eastern frontier. Population 700,000.
        %li <b>Suğoneskáia Óblosti</b> — Capital: Ostiúge. Suğoneskáia (named for the Suğóna River) is home to several large cities on the Northern Duiná River and its tributaries. It is a major timber center. Population 1.1 million.
        %li <b>Brězéuskaia Óblosti</b> — Capital: Brězevo. Brězéuskaia is a vast forested region with sparse population. Most cities lie along the rivers, where they have access to fisheries and to the ocean. Population 850,000.
        %li <b>Śěverno-Duineskáia Óblosti</b> — Capital: Arhánjeiske. Śěverno-Duineskáia lies along the White Sea and Arctic Ocean and includes several major ports, the largest of which is Arhánjeiske. Before acquiring territory on the Baltic Sea, this was Novegrad's principal seaport. With modern icebreakers, it has once again become a major port city as the waters can be kept clear year round. Population 1.2 million.
        %li <b>Koleskáia Óblosti</b> — Capital: Murmáne. Koleskáia is located on the Kola peninsula, separated from the rest of Novegrad proper by the Karelian Republic. In it are several large port cities. The Northern Fleet is also stationed here much of the year. Population 625,000.
        %li <b>Oraltouskáia Óblosti</b> — Capital: Cernográde. Oraltouskáia is located on the other side of the Ural Mountains. Although the rough land is for the most part unsuited to agriculture, several large cities have developed here as a result of the great mining industry and oil reserves. Population 1.3 million.
        %li <b>Śibireskáia Óblosti</b> — Capital: Súrgute. Śibireskáia is a vast forested region with little population. Most industry is based around the large oil fields in the south, although fishing is common across the oblost. Population 910,000.
        %li <b>Ieniśéiskaia Óblosti</b> — Capital: Suětlogóreske. Most of this region is virtually uninhabited, except along the Ieniśéie River. Most of the population can be found in a few cities in the far north, where the land is rich with valuable metals, especially nickel. Population 540,000.

    %section
      %h2 Estonian Republic
      %ol{:number => 28}
        %li <b>Iestoneskáia Óblosti</b> — Capital: Revéle (Tallinn). Iestoneskáia is the most populous of the Estonian oblosts. The largest city is the port of Revéle. It is considered to be the political and industrial center of Estonia. Population 780,000.
        %li <b>Pernáuskaia Óblosti</b> — Capital: Pernáu (Pärnu). Pernáuskaia is home to Pernáu, a major port and resort region. It is also home to one of the Baltic Fleet's primary bases. It is considered to be the commercial and recreational center of Estonia. Population 460,000.
        %li <b>Iuriéuskaia Óblosti</b> — Capital: Iúrieve (Tartu). Although it has the smallest population, Iuriéuskaia is generally considered to be the intellectual and cultural center of Estonia. Population 310,000.

    %section
      %h2 Latvian Republic
      %ol{:number => 31}
        %li <b>Liulandeskáia Óblosti</b> — Capital: Ríga (Rīga). Liulandeskáia (Livonia) encompasses the Gulf of Ríga. Ríga is the political center of Latvia, and is a major port. Population 1.16 million.
        %li <b>Lasgaleskáia Óblosti</b> — Capital: Daugáva (Daugavpils). Lasgaleskáia (Letgallia) is a major center of Latvian industry. The location of Daugáva on the Western Duiná has given it strategic access both to the Baltic Sea and to the interior of Novegrad. Population 625,000.
        %li <b>Kurlandeskáia Óblosti</b> — Capital: Libáva (Liepāja). Kurlandeskáia (Courland) includes the major port of Libáva as well as many other smaller cities. There is a large Lithuanian minority. Population 620,000.
        %li <b>Poloteskáia Óblosti</b> — Capital: Novopolóta. Poloteskáia is the most Novegradian of the Latvian oblosts. It is mostly farmland punctuated by a few large cities. There is a large Russian minority. Population 845,000.

    %section
      %h2 Finnish Republic
      %ol{:number => 35}
        %li <b>Novoźémnaia Óblosti</b> — Capital: Tórge (Turku). Novoźémnaia ("New Land") is home to Tórge and several other major Finnish ports, and is the economic center of the Finnish Republic. There is a large military base located on the Åland Islands. Population 2.15 million.
        %li <b>Ieźernoźémnaia Óblosti</b> — Capital: Míkkeli. Ieźernoźémnaia ("Lake Land") includes much of the Finnish interior. There are several medium-sized cities, all surrounded by large tracts of farmland. Population 1.24 million.
        %li <b>Iestrobótnaia Óblosti</b> — Capital: Něsijáreske (Näsijärvi). Iestrobótnaia (Ostrobothnia) includes much of the western coast of Finland. The capital, Něsijáreske, was founded inland by Novegradian traders on Näsijärvi, a large lake with access to the Baltic Sea. Population 833,000.
        %li <b>Śěverosumeskáia Óblosti</b> — Capital: Ouluiěrvi (Oulujärvi). Śěverosumeskáia ("Northern Finland") is relatively sparsely inhabited. The largest city is Ouluiěrvi, located on the Oulu River that crosses Finland, travelling from Karelia through to the Baltic Sea. Population 300,000.

    %section
      %h2 Karelian Republic
      %ol{:number => 39}
        %li <b>Ladoźeskáia Óblosti</b> — Capital: Olonéce (Aunus). Ladoźeskáia (named for Lake Ládoga) is the southernmost Karelian oblost. Its main industries focus around manufacturing and agriculture. Population 557,000.
        %li <b>Vmestevódnaia Óblosti</b> — Capital: Kondopóğa (Kontupohiu). Vmestevódnaia means "Between the Waters", probably referring to Lake Onéga and the White Sea. Most settlements are along the Baltic-White Sea waterway or on one of the many lakes in the region. Population 386,000.
        %li <b>Bělokareleskáia Óblosti</b> — Capital: Soróka (Šuomua). Bělokareleskáia ("White Karelia") includes two main coastal cities, Soróka and Kénje. Soróka sits at the northern end of the Baltic-White Sea waterway, making it a heavily trafficked port city. Population 304,000.
        %li <b>Vienokarialeskáia Óblosti</b> — Capital: Kananlákśi (Kannanlákši). Vienokarialeskáia is the northernmost Karelian oblost. Most of its settlements on located on the lakes in its interior, connected to the sea by a series of canals. Kananlákśi is located at the southern end of a canal passing through the Kola peninsula toward Murmáne. Population 221,000.

    %section
      %h2 Komi Republic
      %ol{:number => 43}
        %li <b>Iúźnei Kómi Óblosti</b> — Capital: Síhtikare (Syktyvkar). Iúźnei Kómi ("Southern Komi") is the primary center of Komi culture. Most cities are located on major waterways. Population 617,000.
        %li <b>Pečarouskáia Óblosti</b> — Capital: Pečara (Petśöra). Pečarouskáia has a very small population, but has the largest oil fields in Novegrad west of the Urals. Population 298,000.
        %li <b>Óbua-Ieneśéiskaia Óblosti</b> — Capital: Óuske (Obvakar). Ob-Ieneśéiskaia is the least populated oblost in all of Novegrad. Settlements are mostly confined to the coastline of the Óbua and Ieneśéie Rivers and their flooded river valleys. Population 216,000.
