- content_for :title, "Veche.Net — The Republic of Novegrad — Election Results"

.content-block
  %h1 Election Results

  .content-block-content
    = link_to image_path("government/vecheelection.png"), :class => 'lightbox' do
      = image_tag "government/vecheelection_sm.png", :alt => "2006 Veche Election Results"
    %p 2006 Veche Election Results (click to enlarge)
