- content_for :title, "Veche.Net — The Republic of Novegrad — Foreign Relations"

.content-block
  %h1 Foreign Relations

  .content-block-content
    %section
      %h2 With the United Nations
      %p The Republic of Novegrad has been an active member of the United Nations since its founding in 1945. It is currently campaigning for a permanent seat on the security council, along with Germany, India, and Japan.

    %section
      %h2 With the European Union
      %p Novegrad has formed a partnership with the European Union, but does not seek to further strengthen ties with the organization, rather with the individual members. This partnership seeks to encourage:
      %ol
        %li A free economic sphere, with lowered trade barriers and an open market between the two parties. There has been increasing investment on both sides of the border, and Novegrad and the European Union both permit relatively easy border crossings.
        %li Cooperation in research and development, including cooperation in the space program along with the Russian Federation.
        %li Internal and external security, to control illegal activities inside their borders and cooperate on external crises on the basis of multilateralism.

    %section
      %h2 With the Russian Federation
      %p Long dominated by Russia since the two nations merged in the late 18th century and by the Soviet Union up until the 1980s, Novegrad now seeks to improve relations and cooperation with the Russian Federation. A similar open borders agreement exists with Russia as with the European Union, although it is more strictly observed in order to limit illegal movements.
      %p A number of agreements exist lowering restrictions on river use, since both Russia and Novegrad share many river systems. This allows Russian vessels easy access to the Baltic and Arctic and Novegradian vessels to the Mediterranean. Certain Novegradian institutions have also been granted use of the Trans-Siberian railroad, particularly the space program, which owns a large cosmodrome on Sahalin Island, on the Pacific coastline. Much of Sahalin Island was leased to Novegrad indefinitely in the 1950s.
      %p The issue of ethnic Novegradians within Russian borders has been a bit of an issue for several centuries. Approximately two million Novegradians live in Russia, particularly in western and central Siberia. When Siberia was still largely unclaimed and unpopulated, people from both nations journeyed eastward and founded settlements. Since no borders were established at the time, these settlements were scattered and mixed, leaving it impossible to draw a clean line separating Russian and Novegradian communities. In the 1920s-1930s, and then again since 1990, many Novegradians began to move back into Novegrad proper, generally settling in the Siberian cities. However, many remain. There have been talks within Russia about establishing Novegradian as a secondary official language in the regions most heavily populated by Novegradians, particularly in Sverdlovskaya, Tyumenskaya, Omskaya, and Tomskaya Oblasts.

    %section
      %h2 With Sweden and Germany
      %p Sweden and Germany, historically both once bitter enemies of Novegrad, are now some of its largest trading partners and allies. There is extensive investment in one another as well as cultural exchange programs aimed at bringing the nations closer together. Sweden also has a secondary consulate in Finnish Tórge directed specifically at the Swedish and Finnish populations within Novegrad.

    %section
      %h2 With the United States
      %p Relations between the United States and Novegrad were strained throughout most of the 20th century up until the late 1980s. Red scares had caused Novegrad to be identified as a partner of the Soviet Union by the general populace, even as relations between Novegrad and the Soviet Union began to sour. However, as the Soviet government began to falter, the democratic and liberal progress of Novegrad in comparison to Russia became quite clear. Nearly a decade behind European investment, however, American businesses have been unable to gain as large a share of the Novegradian market as they had in other parts of Eastern Europe. More recent anti-commercial-America sentiments have further hurt a number of large corporations seeking a share. This has not discouraged many, who have instead been looking into how to offer their products in such a way as to adhere more closely to the Novegradian culture and customs.
      %p Novegradian investment in the United States, however, is also rather new, as most businesses' focuses have been and still are in Europe. Novegrad has been more of a supplier of parts to American businesses rather than completed products, including foods, electronics, machine parts, and software. There are relatively few finished-product Novegradian businesses located in the United States. Novegradian oil has probably been the greatest success so far, although Novauto is in the trial stages of marketing some of its car models to the United States.

    %section
      %h2 Territorial Disputes
      %p Territorial claims of parts of northern Sweden, particularly north and northwest of Finland, were dropped in 1970.
      %p Norway and Novegrad have yet to reach an agreement on maritime limits within the Barents Sea.
