- content_for :title, "Veche.Net — The Republic of Novegrad — Official Holidays"

.content-block
  %h1 Official Holidays

  .content-block-content
    %p The Republic of Novegrad has eleven official non-working holidays. Nine fall on set days, while the other two vary from year to year. If any of these days fall on a weekend, the following Monday is considered a non-working day. The only exception is for Christmas and Christmas Eve, since they are consecutive. If Christmas falls on a Saturday, Monday will still be a working day. If it falls on a Sunday, Monday will be non-working but Tuesday will work.
    %table.datatable
      %thead
        %tr
          %th Holiday
          %th Date
          %th Remarks
      %tbody
        %tr
          %td New Years Day
          %td January 1
          %td Celebration of the advancement of the calendar year.
        %tr
          %td Christmas Eve
          %td January 6
          %td The day before Eastern Orthodox Christmas.
        %tr
          %td Christmas
          %td January 7
          %td The Eastern Orthodox Christmas, observed on its original date according to the Julian calendar, used up until 1917 in Novegrad.
        %tr
          %td Old New Year
          %td January 14
          %td The Julian date for the New Year, usually celebrated in addition to the Gregorian New Year. New Years Day is considered by many as the date when the calendar year advances, and the Old New Year the actual start of the year.
        %tr
          %td Great Friday
          %td April 2 – May 6
          %td The Friday before Pascha, calculated according to the Julian calendar.
        %tr
          %td Pascha
          %td April 4 – May 8
          %td The Eastern Orthodox analogue of Easter, whose date is calculated according to the Julian calendar and lunar cycles. As it always falls on a Sunday, the following day is always non-working.
        %tr
          %td Labor Day
          %td May 1
          %td Commemorates the efforts of the international labor movement and the workers of the nation.
        %tr
          %td Victory Day
          %td May 9
          %td Commemorates the day Germany capitulated to Novegrad and the Soviet Union in 1945.
        %tr
          %td Day of Defiance
          %td May 23
          %td Commemorates the day in 1980 Śergéie Rubínine sent a letter to Soviet premier Brezhnev refusing to undo certain reforms, often viewed as the start of the Novegradian Thaw.
        %tr
          %td Independence Day
          %td October 23
          %td Marks the day the tsar was unseated in 1925, symbolizing the end of Tsarist Russian oppression in Novegrad.
        %tr
          %td Western Christmas
          %td December 25
          %td Christmas according to the Gregorian calendar, celebrated mainly by the large Lutheran populations in Finland and the Baltic.
    %p Individual oblosts or cities may have their own working and non-working holidays to honor local people, history, and culture. Finland and the Baltic Republics, with their large Lutheran populations, also include a number of Christian holidays as celebrated by their Gregorian dates.
