- content_for :title, "Veche.Net — The Republic of Novegrad — State"

.content-block
  - case @language
    - when :en
      %h1 The Republic of Novegrad

      .content-block-content
        %p Novegrad is a multinational representative democratic republic located in northeast Europe, along the Baltic Sea and Arctic Ocean. While its history spans over a thousand years, the current government was formed in 1925 after the dual monarchy uniting Novegrad and Russia was dissolved. The current constitution dates to 1991, with the collapse of the Soviet bloc. The successes Novegrad has achieved are largely the result of gradual opening occurring through the latter half of the 20th Century.
        %p The executive branch is headed by President Mihajíle Boğeslávice Pétrou. The Cabinet of Ministers is headed by Prime Minister Aleksándre Andréiovice Rúsou, and reports to the president.
        %p The Novegradian parliament is known as the State Assembly, and is divided into two houses. The Veche, the lower house, consists of 450 members elected on the basis of proportional representation. The Council of Nations, the upper house, consists of 90 councilors, where each province sends two councilors.
        %p Novegrad is subdivided into 27 oblosts and five autonomous republics. These oblosts all have equal status under the Novegradian constitution. The autonomous republics, which represent ethnic groups within the republic, have an added degree of autonomy, including the right to use their own language alongside Novegradian in all matters. The republics are further divided into autonomous oblosts for purposes of administration and to balance their representation in the State Assembly, bringing the total number of oblosts to 45.
        %p Select a link at left to learn more about the nation and government of the Republic of Novegrad.

    - when :nv
      %h1 Республика Новеградеская

      .content-block-content
        %p Новеграде-те ест многонародевой преставителной демокрасной республикой, омѣстеной шѣверо-западной Еуропѣ по Варижескѣѣм морѣ со Шѣвернием ледевием океянем. Ѣ исторя делици векье неж тишикьу азот, но стоекьо правястуо е сождано в 1915 а. за неж брошена буила довойна монархя, котра сиединьала Новеграде со Рошзиёй. Стоекьа констидуця-та приймѣлашин в 1991 а., еда роспадовеш совѣтеске блоке. Дошегение на Новеградем вуикони-ти во кѣлѣѣм есат ресуљтатем гласности, наценакьѣ со друга пољу дуадешидаево вѣка.
        %p Глава-та соплонителнѣ вѣтева ест Президентем Михаиле Боғеславице Петроу. Глава-та Реду Министер ест Премиерем Александрем Андреёвице Русоу, котре заяуласт президентем о виех дѣлѣх.
        %p Новеградескей парламенте-те вѣсцин под Сударестуеннием Собраньем и ест содоваене на довѣ йстебѣ. Вѣкье-те, нижна йстеба, сокладовасци со 450 праставител, вуибран на подставѣ пропорцёнаљнѣ репрезентацин. Собранье-те Народ, вуихьа йстеба, сокладовасци со 90 сенатор. Кожна облоасти присиласт по доваех.
        %p Новеграде роздѣласцин на 29 облостей со 5 аутономон республик. О виех ших облостий-то ест раваене статусе под конституѕей новеградеской. Ов аутономних республик-то, котрие престауловати за народи во шибѣ, ест оравеньи егье вуихье аутономин, воклуѕаен право тилизнати ше суой мѣсне лизик разом со новеградескием во виех дѣлѣх. Егье роздѣлатишин на аутономни облостие про администрадивниеми приѕинам и со тѣм-це репрезентаця во Сударестуеннѣѣм Собраньѣ ставилашин рамновагун, то-како кѣло сколицестуо облостей ест 45.
        %p Совазе налѣвѣ вуиберѣте со тѣм-це науѕите егье о странѣ со правястуом Республикѣ Новеградескѣе.
