- content_for :title, "Veche.Net — The Republic of Novegrad — The Judiciary"

.content-block
  - case @language
    - when :en
      %h1 The Judiciary

      .content-block-content
        %p The Novegradian Judiciary consists of three separate court systems. Two of these, the civil courts and the special courts, fall under the partial jurisdiction of the Ministry of Justice. The third, the constitutional courts, are fully independent, relying only on the Council of Nations and President to approve judges.

        %section
          %h2 The Civil Courts
          %p The civil courts are responsible for handling criminal and other civil cases. There are four tiers of civil courts.
          %p The local courts hear small criminal cases and civil suits. There are 780 such courts.
          %p The district courts have original jurisdiction over most major criminal and civil cases, and also handle appeals from local courts. There are 78 such courts.
          %p The appellate courts hear appeals from district courts, and also try those charged with crimes against the state. There are 45 such courts, one located in the capital of each oblost.
          %p The Supreme Court of Justice in Novegráde Velíkei is the highest of the civil courts, and hears appeals from the appellate courts and has original jurisdiction over inter-oblost cases.
          %p Each court is headed by a single judge, and jury if needed. For more complex cases, up to three judges may preside. Judges are selected by the Ministry of Justice and juries out of the populace, except in the Supreme Court, where the three judges are nominated by the President and approved by the Council of Nations.

        %section
          %h2 The Special Courts
          %p The special courts, which are organized into three tiers, handle specific types of cases.
          %p The administrative courts handle cases between the government administration and private individuals or businesses. These may include issues involving permits, environmental regulations, social security, and suits against the government. There are 45 local courts, 16 district courts, and the Supreme Administrative Court in Néugrade.
          %p The labor courts handle disputes between workers and employers, especially involving bargaining agencies, working conditions, and workers' compensation. There are 88 local courts, 15 district courts, and the Supreme Labor Court in Vóloğda.
          %p The tax courts handle tax disputes. There are 15 local courts and the Supreme Tax Court in Novegráde Velíkei.
          %p The patent courts handle intellectual property disputes. There are 16 local courts and the Supreme Patent Court in Vítebeske.
          %p Judges in each of these courts are appointed by the Ministry of Justice, except in the Supreme Courts, whose judges are nominated by the President and approved by the Council of Nations.

        %section
          %h2 The Constitutional Courts
          %p The Constitutional Courts are the most powerful, as they have the power of judicial review. As such, they can declare legislation unconstitutional and can overturn the results of any other court within their jurisdiction. The 45 district courts are each presided by a panel of seven judges, and the Federal Constitutional Court in Novegráde Velíkei is presided by fifteen. They are responsible for all cases of constitutionality.
          %p The constitutional courts are almost completely separated from the Ministry of Justice, so that the executive office does not have complete control of them. All justices must be approved by both the President and Council of Nations and serve life terms. They also have their own budget separate from the other courts.

    - when :nv
      %h1 Судестуо

      .content-block-content
        %p Новеградеское судестуо-то сокладовасци со трем озобенами строям суда. Дова зе ших, суди грагьанеские со спецяљниеми, еста под цестивой юрисдиксей Министерестўу суда. Тритей, суди констидуцённие, есат скѣла самостоекьи и опиратиш на тѣм-це Собранье Народ со Президентом затуердита сугьи.

        %section
          %h2 Суди Грагьанеские
          %p Суди-ти грагьанеские су отуѣцтуени за дѣла оглоуни со видорами дѣлам грагьанесками. Есат цетире оравеньи суд грагьанезок.
          %p Мѣсние суди-ти розбирати малени оглауни дѣла со грагьанесками искам. Есат 780 тад суд.
          %p О раёнон суд-то юрисдикся пирвѣ инстансин над вѣѕиной суровоу дѣлоу оглауноу со грагьанескиеми, и тож розбирати мољви од мѣзон суд. Есат 78 тад суд.
          %p Суди-ти апелатиние розбирати мољви од суд раёнон, и тож судат тѣх-ко ест повинене во суровѣх престубленьѣх противе сударестўу. Есат 45 тад суд, едене во столицѣ кожнѣ облости.
          %p Найвуихьей суде-те во Новеградѣ Великѣѣм – вуихьием зе грагьанезок суд. Розбираст мољви зе суд апеладин и о тово юрисдикся пирвѣ инстансин над дѣлам вмести облостей.
          %p Кожней суде-те водицин на едном сугьей, со журем анно ест треба. Во дѣлѣх сложнейшѣх, до троех сугьи можут предшѣдѣти. Сугьи-ти вуибрани на Министерестуом Суда и журие зе луд, но тако нет во Найвуихьѣѣм судѣ, во котрѣѣм троин сугьин – вуизнацини на Президентем и затуердени на Собраньем народ.

        %section
          %h2 Суди Спецяљние
          %p Суди-ти спецяљние, котрие сорганизани есат во три оравеньини, розбирати озобени класи дѣл.
          %p Суди-ти администрадиўние розбирати дѣла вмести сударестуенна прауленьа с озобниеми или компаням озобнами. Ши сокладоватиш со пуидам, казакьамиш розрѣженьам, природоохранекьом законодатестуом, соцяљном бесстрашеньем и искам противе сударестўу. Есат 45 мѣзон суд, 16 раёнон суд и Найвуихьей Администрадиуней Суде Неуградѣ.
          %p Суди-ти труда розбирати спори вмести дѣлниц и работодержател, глаунѣ ти-це казасци агентестуам колехтивон преговор, станам труда и компензасеном бесстрашеньем дѣлниц. Есат 88 мѣзон суд, 15 раёнон суд и Найвуихьей Суде Труда Волоғдѣ.
          %p Суди-ти киносевие розбирати спори о киносѣх. Есат 15 мѣзон суд и Найвуихьей Ниносевей Суде Новеградѣ Великѣѣм.
          %p Суди-ти патентевие розбирати спори ов интелехтуаљнѣх ймутестуѣх. Есат 15 мѣзон суд и Найвуихьей Патентевей Суде Витебескѣ.
          %p Сугьѣ-ти кожнѣѣм зе ших суд – вуизнацени на Министерестуом суда, кроми тѣх-ко предшѣдит Найвуихьиех Судѣх, сугьѣ во котриех вуизнацени есат премѣ на Президентем и затуердени есат на Собраньем Народ.

        %section
          %h2 Суди Констидуцённие
          %p Суди-ти констидуцённие су найшилнейши, на то-це ест о них влада премотра по конституѕей. Про шим можут признати законодатестуо неконстидуцённом и ануљити рѣженьи веяда видора суда под ех юрисдиксей. На кожнѣѣм зе 45 раён суд предшѣдат шентеро сугьи и на Хедераљнѣѣм Констидуцённѣѣм Судѣ Новеградѣ Великѣѣм предшѣдат пиннацитеро. Есат отуѣцтуене за вие дѣла о констидуцённости.
          %p Суди-ти констидуцённие мало скѣла оздѣлени од Министерестўу суда, со тѣм-це о соплонителна консла нет владѣ над них. Вие сугьѣ надо бу затуердитишин и на Президентем и на Собраньем Народ, и проходат дожитеннѣ. Тож владѣют ши суои наклади, оздѣлни од ших видор суд.
