- content_for :title, "Veche.Net — The Republic of Novegrad — Local Authorities and Governments"

.content-block
  %h1 Local Authorities and Governments

  .content-block-content
    %section
      %h2 The Oblosts
      %p The Republic of Novegrad is divided into 45 provinces known as oblosts. These oblosts are all equal before the federal government, having equal representation in the Council of Nations. Each has its own capital city and government, including a governor and legislature. The oblosts are responsible for managing their own budget, local taxes, transportation, health care, and land use. They can also determine their own internal government structure, within the bounds of the national Constitution.
      %p Other services, including the police force, education system, and courts, are all controlled by the federal government. The mass media is subject to federal oversight, but for the most part operates independently.

    %section
      %h2 The Republics
      %p The five republics are given a greater amount of autonomy than the oblosts not part of a republic. Each republic has its own constitution (as long as no aspect of it contradicts the federal constitution), its own elected parliament, its own education system, its own police, and its own official language, although courts are still federally-operated. The oblosts that form them have more or less the same amount of freedom as the other oblosts of Novegrad; they just have to operate within a slightly different framework.
      %p The official language chosen by each republic is used alongside Novegradian in all official matters, and schools teach both. Day to day use varies on the region—in some areas the local language may be the dominant, in others Novegradian, and others may be truly bilingual. Due to the encouragement of local languages, fluency ranges from about 24% in Karelia to 84% in Komi.

    %section
      %h2 The Municipalities
      %p Each oblost is divided into a number of municipalities, as determined by the oblost government. While they are all termed "municipalities" in English, in actuality a number of different names are used, varying from oblost to oblost and sometimes reflecting local languages. The municipalities have their own small local governments, consisting of a small council and an administrator.

    = image_tag "government/jurisdiction_pyramid.png", :alt => "The Structure of Local Governments"
