- content_for :title, "Veche.Net — The Republic of Novegrad — Military"

.content-block
  %h1 Military

  .content-block-content
    %p The Novegradian Armed Forces were reorganized in the early 1930s along the Soviet model, which has remained in use to this day. Many similarities between the Novegradian and Russian military organization can therefore be seen.
    %p The military is divided into three main branches—the Ground Forces, the Air Force, and the Navy.

    %section
      %h2 The Ground Forces
      %p The Novegradian Ground Forces may be traced all the way back to the Volunteer Militia of the feudal republic.
      %p As there have been few recent internal conflicts in Novegrad, the current primary focus of the ground forces is international, mainly as peacekeeping forces.
      %p Each republic maintains its own army, although they all fall under the command of the higher officers.

    %section
      %h2 The Air Force
      %p The Novegradian Air Force is still struggling to modernize itself from the Soviet era, but has made significant progress. Numerous air bases across the country support the country's jets, many of which date from the Soviet period. Its importance has been declining recently in favor of the navy with its aircraft carriers.

    %section
      %h2 The Navy
      %p The Novegradian Navy has two primary fleets, the Northern and the Baltic. The Northern Fleet, the larger of the two, is headquartered in Murmáne, but also has bases in Śěveromorijá and elsewhere along the northern coastline. A smaller port in Sahalíne is also considered part of the Northern Fleet. The Baltic Fleet is headquartered in Libáva in Latvia, and includes major bases in Ríga, Revéle, Pernáu, and Néugrade.
