- content_for :title, "Veche.Net — The Republic of Novegrad — The Cabinet of Ministers"

.content-block
  - case @language
    - when :en
      %h1 The Cabinet of Ministers

      .content-block-content
        %section
          %h2 The Prime Minister
          %p The Prime Minister, currently Aleksándre Andréiovice Rúsou, is appointed by the president to lead the Cabinet of Ministers and to carry out his directives. The Cabinet of Ministers is the primary means through which the president exchanges information with the many ministries of the republic.
          %p The prime minister must be appointed by the president within the first two weeks of the presidency. The Veche then has one week to approve of the nomination.

        %section
          %h2 The Ministers and Ministries
          %p The Cabinet of Ministers consists of the heads of the twenty Federal Ministries. These bureaucratic ministries are responsible for most of the everyday workings of the Novegradian government. The cabinet is also responsible for drafting the federal budget and submitting it to the State Assembly.
          %p These twenty ministries include:
          %ul
            %li <b>The Ministry of Internal Affairs</b> — Alékśeie Kraśislávice Krílou
            %li <b>The Ministry of Defense</b> — Konstantíne Vladínovice Moskóvine
            %li <b>The Ministry of Labor</b> — Pétre Iakóvice Putiáne
            %li <b>The Ministry of Culture</b> — Rádia Romanóuna Grecóva
            %li <b>The Ministry of Transportation</b> — Aleksándre Iegórovice Róhline
            %li <b>The Ministry of Energy</b> — Milosláu Vladimírovice Róstou
            %li <b>The Ministry of Justice</b> — Natália Ruslánouna Volcekóva
            %li <b>The Ministry of Taxes and Duties</b> — Ieváne Vaśiliévice Rubíne
            %li <b>The Ministry of Foreign Affairs</b> — Stanímire Olánovice Sogólou
            %li <b>The Ministry of Education</b> — Ierína Ievánouna Basiéva
            %li <b>The Ministry of Economic Development</b> — Víhtore Aleksándrovice Gazánou
            %li <b>The Ministry of Finance</b> — Ília Iuriévice Láhou
            %li <b>The Ministry of Health</b> — Śergéie Páulovice Lě́tine
            %li <b>The Ministry of Communications</b> — Rita Liepiņš
            %li <b>The Ministry of Information</b> — Rostisláu Valeriévice Śedzíne
            %li <b>The Ministry of Science and Technology</b> — Vitálije Valentínovice Médnikou
            %li <b>The Ministry of Natural Resources and the Environment</b> — Ieléna Markóuna Hrámova
            %li <b>The Ministry of Agriculture</b> — Tuomas Koivu
            %li <b>The Ministry of Civil Defense and Emergencies</b> — Andris Ozols
            %li <b>The Ministry of Trade</b> — Markus Laaksonen
          %p In addition to these, there are a number of agencies that must report to the prime minister, but do not form part of a ministry. These include the Aviation and Space Agency, Patent Agency, Atomic Energy Committee, Tourism Agency, Urban Development Agency, and Statistics Agency. The State Security Council (RSB) reports directly to the president.

    - when :nv
      %h1 Ред Министер

      .content-block-content
        %section
          %h2 Премиере
          %p Премиере-те, нинѣ Русоу Александре Андреёвице, вуизнацене ест на президентем со тѣм-це индит Ред Министер и соплоньати ево иструкся. Ред Министер ест глауном цинем, трес котраево президенте омѣньаст инвормасю со множестуом министерстов республикѣ.
          %p О президентем треба вуизнацити премиера-то трес пирви довѣ семицѣ президентестўу. Вѣкте задѣм затуердит ймѣновань трес едну шѣмицу.

        %section
          %h2 Министеря со Министерестуам
          %p Ред-от Министер сокладовасци со главам дўудешитех Хедераљних Министерестов. Ши бюрокрасни министерестуа есат отуѣцтуени за кожноденеви дѣла новеградескаево правястўу. Ред тож отуѣцтуене ест за состаулень хедераљон наклад и ех престаулень Сударестуеннием Собраньем.
          %p Ши дуадешити министерестов сокладоватиш со слѣдовагьиеми:
          %ul
            %li <b>Министерестуо Народних Дѣл</b> — Крилоу Алекшее Крашиславице
            %li <b>Министерестуо Обронѣ</b> — Московине Константине Владиновице
            %li <b>Министерестуо Труда</b> — Путяне Петре Яковице
            %li <b>Министерестуо Куљтурѣ</b> — Грецова Радя Романоуна
            %li <b>Министерестуо Превоза</b> — Рохлине Александре Егоровице
            %li <b>Министерестуо Енергин</b> — Ростоу Милослау Владимировице
            %li <b>Министерестуо Суда</b> — Волцекова Наталя Русланоуна
            %li <b>Министерестуо Кинос со Муидам</b> — Рубине Еване Вашилиевице
            %li <b>Министерестуо Вмеснародних Дѣл</b> — Соголоу Станимире Олановице
            %li <b>Министерестуо Науѕеньа</b> — Басиева Ерина Еваноуна
            %li <b>Министерестуо Економицескаево Росуия</b> — Газаноу Вихторе Александровице
            %li <b>Министерестуо Винанес</b> — Лахоу Иля Юриевице
            %li <b>Министерестуо Стравий</b> — Лѣтине Шергее Пауловице
            %li <b>Министерестуо Комуникаци</b> — Лийпиньше Рита
            %li <b>Министерестуо Инвормасин</b> — Шеѕине Ростислау Валериевице
            %li <b>Министерестуо Навукѣ со Технољогей</b> — Медникоу Виталие Валентиновице
            %li <b>Министерестуо Природних Резурес со Вокражненьем</b> — Храмова Елена Маркоуна
            %li <b>Министерестуо Жемлодѣланьа</b> — Коиву Туомасе
            %li <b>Министерестуо Грагьанескѣе Обронѣ со Невоцаянностям</b> — Озолсе Андрисе
            %li <b>Министерестуо Торганьа</b> — Лааксонене Маркусе
          %p Кроми ших, ест сколицестуо радоу-то, о котрих труба заяулати премиерем о дѣлѣх, но которие не настауловати цестюм некада министерестўу. Ши воклуѕовати Раду Летестўу со Космосем, Патентоваю Раду, Комитет пов Идровѣ Енерги, Раду Туризма, Раду Градеуна Росуия и Раду Статистикѣ. Рада-та Сударестуеннѣе Бесобасенности (РСБ) – под премой владой президента.
