- content_for :title, "Veche.Net — The Republic of Novegrad — The President of the Republic of Novegrad"

.content-block
  - case @language
    - when :en
      %h1 The President of the Republic of Novegrad

      .content-block-content
        %section
          %h2 Mihajíle Boğeslávice Pétrou
          = image_tag "government/president.png", :alt => "President Mihajíle Boğeslávice Pétrou", :class => "float-left"
          %p The fifteenth and current president of the Republic of Novegrad is Mihajíle Boğeslávice Pétrou. Born September 19, 1945 in Pleskóve, he graduated from Novegráde Velíkei State University in 1966 with a degree in political science and law. He worked as a civilian lawyer from 1968 until 1976, and as a government lawyer from 1976 until 1982.
          %p In 1977 he married Maríja Vasilóuna Nikítina and moved to Néugrade. In 1982 he became head of customs for the port of Néugrade and began to get involved in work for the Progressive Party. In 1984 he was elected to the Néugrade city council, and in 1992 he became mayor. In 2000 he was appointed to Prime Minister by President Nikoláie Mirónovice Viódorou, and in 2004 succeeded him as president.
          %p He lives with his wife Maríja Vasilóuna Petróva and two children, Ieváne Miháilovice and Natália Miháilouna. They own a dacha in the northern Pleskoveskáia oblost. He is an active member of the Novegrad Orthodox Church and speaks fluent German.
          %p Pétrou has a record of fighting corruption and encouraging modernization and investment, which can be seen in his political career both in Néugrade and Novegráde Velíkei. He has played a role in the revitalization of the Port of Néugrade, the expansion of international business districts in Novegráde Velíkei and Tórge, and the new highspeed rail network.

        %section
          %h2 Role of the President
          %p According to the Constitution of the Republic of Novegrad, the most basic role of the president is "to protect the rights and freedoms of every citizen and the sovereignty and security of the state, and to serve both faithfully."
          %p The President of Novegrad is the head of state and commander in chief of the military. He is responsible for determining the basic course of domestic and foreign policy, and represents the state in domestic and foreign affairs. He can appoint and dismiss the prime minister and ambassadors for the Republic of Novegrad and dismiss other ministers with the approval of the Veche. He conducts international talks and must sign international treaties.
          %p He may submit proposals to the State Assembly for discussion, and also candidates for the Supreme Courts, Constitutional Courts, and chief of law enforcement. While he may veto bills passed through the Council of Nations or introduce new ones, most of his power is exercised through the ministries.
          %p As commander in chief of the armed forces, the president has the power to appoint and dismiss the high command, approve defense doctrine, confer higher military ranks, awards, and titles of honor, and declare martial law and states of emergency. In the latter case, the Council of Nations may reject the declaration.
          %p The President may accept requests for political asylum and grant pardons. He may also issue executive orders, which have the force of law, without Assembly approval, although the Assembly may rescind them.
          %p At least once a year the president gives a state of the nation speech to the State Assembly regarding current issues and the direction he wants internal and external policies to go.
          %p Presidential elections occur every four years, and a president may serve a maximum of two terms.

    - when :nv
      %h1 Президенте Республикѣ Новеградескѣе

      .content-block-content
        %section
          %h2 Петроу Михаиле Боғеславице
          = image_tag "government/president.png", :alt => "Петроу Михаиле Боғеславице, Президенте Республикѣ Новеградескѣе", :class => "float-left"
          %p Стоекьей, пиннацитей президенте-те Республикѣ Новеградескѣе ест Петровем Михаилем Боғеславицем. Родене 19 врѣсанѣ 1945 а. во Плесковѣ. Оне оконциле Великоновеградеский Сударестуенний Университет во 1966 а. со степеньюм по полидицескѣ навукѣ со правом. Работале в акостуѣ цивилиста од 1968 до 1976, и юриста по правястуеннѣѣм од 1976 до 1982.
          %p Во 1977 а. женилеш со Никитиной Мариёй Василоуной и преѣсале во Неуграден. Во 1982 а. стале главой муит о Неуградескаево Порта и нашнале работати шленем Предевѣе Партин. Во 1984 вуибрали ко неуградескоюн градеуной радой и во 1992 стале гродоводецем. Во 2000 Петрова-то вуизнациле на премиерестуон Президенте Видороу Николае Мироновице и в 2004 а. буиле наступнием ево президентем.
          %p Соживаст со женой Петрова Мария Василоуна со довѣма дѣдетми, Еване Михайловице и Наталя Михайлоуна. Владѣют дакьу на шѣверѣ Плесковескѣе облости. Оне ахтивнѣ оцестовасци во Новеградескѣѣм Правослаунѣѣм Керкеве и суѣбоднѣ говорит намѣмецкѣ.
          %p Петровем и словати за то-це оне бореци со корупсей и подводит модернизацю со вложеньем, видимое на дољготу ево службѣ и Неуградѣ и Новеградѣ Великѣѣм. Ношиле на шибѣ ролу прив оноуленьѣ Неуградескаево Порта, при росхиреньѣ вмеснародон дѣлов раён во Новеградѣ Великѣѣм со Торгем, и при строеньѣ новѣ шѣди скоросон желѣзопантей.

        %section
          %h2 Рола Президента
          %p По конституѕи Республикѣ Новеградескѣе, глаунейшая рола-та президента – „охраньати права со суѣбодам кожон грагьѣнь и суверенности со бесобасенностюм сударестўу, и оба цеснѣ служити‟.
          %p Президенте-те Новеграда ест главой сударестўу со глаунокомандантем милитара. Оне-и отуѣцтуене за сопредѣленьем глауна хода полидик народон и вонѣкрайсок, и престауловаст за сударестуо при народнѣх и вонѣкрайскѣх дѣлѣх. Может вуизнаѕати и сошѣдѣти премиера со вуисолам Республикѣ Новеградескѣе и сошѣдѣти видор министер ими затуердень вѣкьа. Водит вмеснародни преговори и надо би позписовати договори.
          %p Может престауловати предложеньи на преговорони Сударестуеннием Собраньем, тож со кандидакьам на Найвуиғьонево Судони, на Констидуцённонево Судони и на водестуон милицин. Может ложити вето на затуерденони на Собраньем Народ проехтони и предлежити новие, колиж вѣѕина ево власти прояуласци посрѣди министерестов.
          %p В акостуѣ глаунокоманданта науружен шил, о президента-то ест можности вуизнаѕати и сошѣдѣти вуихье доводестуо, затуердити обронни политики, наградати вуихьи милитарни зуаньи, минти и цести, и вуиглағьати военни и невоцаяни стана-та. При другѣ кердѣ, Собранье Народ может отмедати ше заяуленье.
          %p Президенте-те может приймѣти прошби зав азилем и надавати простенье. Тож может вуидавати декрети бес затуерденьа Собраньа, колиже Собранье может и ануљовати ши.
          %p При найменижѣѣм еденшет в асто президенте-те рѣѕит по станѣ странѣ Сударестуеннием Собраньем о стоекьѣх пуитѣх со ходем, на котруюн хокьет то-це вонутрени и вонѣкрайски политики водацин.
          %p Вуибори-ти за президентем пробуивати кожно цедирто асто. Президентем-то неможено проходити болшу, неж довѣ добѣ.
