.content-block
  - case @language
    - when :en
      %h1 The Veche

      .content-block-content
        %section
          %h2 Functions of the Veche
          %p The Veche is the lower house of the State Assembly, the Novegradian parliament. Bills are introduced into the Veche for consideration from the President, Prime Minister, the ministries, a high level court, or from within the Veche or Council of Nations. The bill may be debated and amended, and commissions and hearings set up. Upon passage of the bill by simple majority (226 votes), it is passed to the Council of Nations.
          %p If the Council does not pass the bill, a reconciliatory commission may be set up to modify the bill, after which it is returned to the Veche. Otherwise, the Veche may override the decision of the Council of Nations by a three-quarters vote (338 votes). A presidential veto may be overridden by a two-thirds majority in both the Veche (300 votes) and the Council.
          %p The same rules apply for the passage of a constitutional amendment, except that each house needs to pass the bill with a two-thirds majority and the Veche cannot override the Council.
          %p The Veche is also responsible for approving the president's nomination for prime minister.

        %section
          %h2 Election of the Veche
          %p The Veche consists of 450 seats, 225 of which are distributed by region and 225 of which are distributed on the basis of proportionality of parties.
          %p The 225 regional seats are distributed among the oblosts based on their population, where oblosts with larger populations will be able to fill proportionately more seats than oblosts with smaller populations. The number of seats each oblost receives is determined by a modified version of the Sainte-Laguë method.
          %p The remaining seats are divided proportionately among parties and are filled by party representatives. The total number of votes each party received across the country is tallied, and the seats are distributed by the D'Hondt method of apportionment.
          %p A threshold of 5% exists in parliamentary elections, meaning a party must receive at least 5% of the national vote to receive any Veche seats at all. A party that fails to reach 5% nationally but which manages to get 20% of the vote in at least one oblost may qualify.

        %section
          %h2 Summary of Current Veche
          %table.datatable
            %thead
              %tr
                %th{:colspan => 2} Parties and Coalitions
                %th Total Votes
                %th Percent of Total
                %th Total Seats
                %th Seats Apportioned<br>by Region
                %th Seats Apportioned<br>by Proportionality
            %tbody
              %tr
                %td{:colspan => 2} Center Party
                %td 8,131,301
                %td 31.3%
                %td 132
                %td 61
                %td 71
              %tr
                %td{:rowspan => 2} Coalition
                %td Progressive
                %td{:rowspan => 2} 9,460,324
                %td{:rowspan => 2} 36.4%
                %td{:rowspan => 2} 181
                %td{:rowspan => 2} 98
                %td{:rowspan => 2} 83
              %tr
                %td Social Democratic
              %tr
                %td{:colspan => 2} Labor Party
                %td 3,295,005
                %td 12.7%
                %td 49
                %td 21
                %td 28
              %tr
                %td{:colspan => 2} Liberal Party
                %td 961,259
                %td 3.7%
                %td 16
                %td 8
                %td 8
              %tr
                %td{:colspan => 2} Great Novegrad
                %td 2,248,808
                %td 8.7%
                %td 39
                %td 20
                %td 19
              %tr
                %td{:rowspan => 3} Coalition
                %td Rodina Union Party
                %td{:rowspan => 3} 927,076
                %td{:rowspan => 3} 3.6%
                %td{:rowspan => 3} 17
                %td{:rowspan => 3} 9
                %td{:rowspan => 3} 8
              %tr
                %td Communist Party
              %tr
                %td National Front
              %tr
                %td{:colspan => 2} Finnish Republican Alliance
                %td 798,115
                %td 3.1%
                %td 13
                %td 6
                %td 7
              %tr
                %td{:colspan => 2} Komi Order
                %td 139,994
                %td 0.5%
                %td 3
                %td 2
                %td 1
              %tr
                %td{:colspan => 2} <b>Total</b> (Turnout 72.5%)
                %td 25,961,882
                %td 100%
                %td 450
                %td 225
                %td 225

    - when :nv
      %h1 Вѣкье

      .content-block-content
        %section
          %h2 Вунксѣ Вѣкьа
          %p Вѣкье-те нижной йстебой ест Сударестуеннаево Собраньа, новеградескей парламенте. Проехти-ти предлежацин Вѣкьен за розвагой на президентем, премиерем, министерестуам, судем вуисѣ оравеньи, или снутри Вѣкьа или Собраньа Народ. Проехте-те можеби вошунене и опраулене, и комитети со розбраньем можебу останени. По затуерденьѣ нав авиной вѣѕиной (226 глас), предаецин Собраньем Народ.
          %p Анно Собранье не бадет затуердиле проехте-те, сорамнекье комитете может останауловатишин со тѣм-це мѣньаст то, задѣм осдает Вѣкьен. Енакѣ, Вѣкье-те может ануљити рѣженье на вѣѕиной трем цедиртиеми (338 глас). Вето-то од президента может ануљитишин на вѣѕиной довѣма тридиеми и во Вѣкьѣ (300 глас) и во Собраньѣ.
          %p Ши самие закони-ти казатиш ко затуерденьем оправѣ ко конституѕей, кроми тово-це обѣ йстебѣ надо бис затуердити проехте на вѣѕиной довѣма тридиеми и Вѣкье не может отружовати то-це рѣжаст Собранье.
          %p Вѣкье-те тож ест отуѣцтуене за затуерденьем тово-ково президенте поймѣновале на премиерен.

        %section
          %h2 Вуибранье Вѣкьа
          %p Вѣкье-те сокладовасци со 450 мѣсот, 225 зе котрих есат роздани по раёнѣ и 225 зе котрих – роздани на подставѣ ропорцёнаљности парти.
          %p 225 раённих мѣсот-то роздани есат по облостям на подставѣ нашељеньа кожнѣе, то-како облостие со болшем нашељеньем можут приймѣти пропорцёнаљнѣ болши мѣста, неже облостие со менишем нашељеньем. Сколицестуо мѣсот-то, приймѣно на кожной облостюм сопредѣловасцин на варянтем позобѣ Сент-Лагю (Sainte-Laguë).
          %p Сосакьиеш мѣста-то пропорцёнаљнѣ есат роздѣлени по партей и вуиплонени на преставителам кожнѣ партин. Кѣло сколицестуо глас, приймен на кожной партей погољом странѣ нацедовасцин, и вие мѣста-та су роздани на подставѣ позобѣ пропорцёнаљна мѣстеньа Д'онта (D'Hondt).
          %p Ест праге-те 5% во парламентескѣх вуиборѣх, знацин то-це треба о кожнѣ партин ест приймѣти при найменижѣѣм 5% зе нацёнаљон глас со тѣм-це может приймѣти миро кажике мѣсток Вѣкьѣ. Партя-та, котрая не дошигаст 5% по вией странѣ, но одалаш приймѣти 20% зе глас в еднѣ облости при найменижѣѣм может ношити мѣсто.

        %section
          %h2 Стоекье Вѣкье
          %table.datatable
            %thead
              %tr
                %th{:colspan => 2} Партѣ со блокам
                %th Кѣло сколицестуо<br>глас
                %th Кѣлое посту
                %th Кѣло сколицестуо<br>мѣсот
                %th Мѣста, роздани по<br>раёнем
                %th Мѣста, роздани по<br>пропорцёнаљностюм
            %tbody
              %tr
                %td{:colspan => 2} Партя Центара
                %td 8.131.301
                %td 31,3%
                %td 132
                %td 61
                %td 71
              %tr
                %td{:rowspan => 2} Союсе
                %td Партя Предевая
                %td{:rowspan => 2} 9.460.324
                %td{:rowspan => 2} 36,4%
                %td{:rowspan => 2} 181
                %td{:rowspan => 2} 98
                %td{:rowspan => 2} 83
              %tr
                %td Партя Соцяљно-Демокрасная
              %tr
                %td{:colspan => 2} Партя Труда
                %td 3.295.005
                %td 12,7%
                %td 49
                %td 21
                %td 28
              %tr
                %td{:colspan => 2} Партя Либераљная
                %td 961.259
                %td 3,7%
                %td 16
                %td 8
                %td 8
              %tr
                %td{:colspan => 2} Партя Велигаево Новеграда
                %td 2.248.808
                %td 8,7%
                %td 39
                %td 20
                %td 19
              %tr
                %td{:rowspan => 3} Союсе
                %td Партя Родина-Союсе
                %td{:rowspan => 3} 927.076
                %td{:rowspan => 3} 3,6%
                %td{:rowspan => 3} 17
                %td{:rowspan => 3} 9
                %td{:rowspan => 3} 8
              %tr
                %td Партя Комунистицеская
              %tr
                %td Хронте Народей
              %tr
                %td{:colspan => 2} Сумескей Республиканескей Союсе
                %td 798.115
                %td 3,1%
                %td 13
                %td 6
                %td 7
              %tr
                %td{:colspan => 2} Ордене Коми
                %td 139.994
                %td 0,5%
                %td 3
                %td 2
                %td 1
              %tr
                %td{:colspan => 2} <b>Кѣлое</b> (Гласовакьие: 72,5%)
                %td 25.961.882
                %td 100%
                %td 450
                %td 225
                %td 225
