- content_for :title, "Veche.Net — The Republic of Novegrad — Transportation in Novegráde Velíkei"

.content-block
  %h1 Transportation in Novegráde Velíkei

  .content-block-content
    %section
      %h2 Getting In and Out of the City
      %section
        %h3 By Air
        %p Novegráde Velíkei is served by two major airports, Śě́vero-Novegrádeskei to the northwest of the city and Śergéie Aleksándrovice Rubínine to the east of the city.
        %p The Śergéie Aleksándrovice Rubínine International Airport (Вмеснародней Еропорте вейм. Шергея Александровица Рубинина) is the largest in the Republic of Novegrad and Novegráde Velíkei's busiest airport. It is the hub of the Novegradian national airline Novavia and is the primary entry and departure point for international flights, offering regular service to over 80 major cities around the world as well as to most major cities in Novegrad.
        %p It is located approximately 21 kilometers away from the city center, just off the N07 "Mostegráde" Highway. Depending on the time of day and traffic, the trip can take from about twenty minutes to two hours; travelling by road between 0700 and 0900 and between 1500 and 1830 on weekdays is therefore not recommended. It is not served directly by city buses, though taxis may be used. The airport is also served by a special extension to the Novegráde Velíkei Metro. Passengers who want to avoid heavy traffic and high taxi fares and who are willing to put up with a few extra transfers may choose to take the Metro into the city proper where they will have access to the full public transportation system as well as cheaper taxis.
        %p The Śě́vero-Novegrádeskei Airport (Шѣверо-Новеградескей Еропорте) is slightly smaller than Rubínine International. The majority of its service is domestic, though it also serves a number of cities in the former Eastern bloc and a few cities in Western Europe.
        %p It is located approximately 20 kilometers out of the city center, just off the N05 "Lúga" Highway. Traffic likewise can pose a significant problem, but it is usually not as problematic as on the N07 "Mostegráde" Highway. However, unlike Rubínine International, there is no Metro connection. To avoid taxi fares, the only option is to arrange some sort of private transportation. Some major hotels operate shuttle buses at cheaper rates than most taxis, but these can often involve long waits. If you do not have too much luggage, a good way to pass the time is to go eat or look around the town of Blátnaia located next to the airport.
        %p Both airports have small towns located right next to them that offer many services to travellers, especially those waiting during a layover. These are Cervénoie and Blátnaia respectively. Both have a number of options for food, rentals, entertainment, and lodging.

      %section
        %h3 By Land
        %p Novegráde Velíkei is well serviced both by road and rail.
        %p Most of the city is encircled by a major twelve-lane ring road known as the NKAD, short for "Novegradian Automotive Ring Road" (Новеградовеликая кољцева аутомобилна драга), allowing relatively easy transport from one side of the city to another while avoiding the center of the city.
        %p From the NKAD there are four major highways heading in opposite directions, as well as a number of minor highways. Going clockwise around the NKAD starting from Lake Ielméri, these are the N01 "Śelóni" heading southwest to Pírske, Pleskóve, Ópocka, and ending in Śebéźe, the N05 "Lúga" heading west to Lúga and ending in Vodóu, the N10 "Vółhove" heading north to Vółhove, Cédovo, and ending in Nóvaia Ládoga, and the N07 "Mostegráde" heading southeast to Kréscou, Bologóie, Mostegráde, and continuing to the Russian border.
        %p Major Novegradian highways are generally maintained in fairly good condition, particularly around major cities. However, conditions can vary drastically on roads in more isolated regions.
        %p Novegráde Velíkei has three major train stations and several smaller ones. These are Central Railway Station, Reveleskáia Station, and Voloğdeskáia Station. Their names indicate the general direction of most of their service. Central Railway Station is the largest station, and serves much of the Novegradian heartland to the north and south of the city, as well as Finland, Karelia, and Latvia. Reveleskáia generally services destinations in western Novegrad, including Estonia (and its capital, Revéle). Voloğdeskáia primarily serves eastern Novegrad onward into Siberia, and is named for the 'gateway to the east', Vóloğda.
        %p Central Railway Station is also one of the stops on Novegrad's brand new high speed rail system, the ŹPNS, which currently links the city to Ríga and Néugrade.

      %section
        %h3 By Water
        %p River transport is nowhere near as important in modern Novegrad as it once was, but it remains an option for those willing to take the time and who wish to take the scenic route to whatever their destination. Novegráde Velíkei's primary riverport is located near the Wharf in Plotníceskei Kónce. Regular service is fairly limited, only taking passengers down the Vółhove River to the city of Vółhove or across Lake Ielméri to Stáraia Rússa. However, it is possible to purchase tickets for scheduled trips to much more distant destinations, either within Novegrad or international.
        The city is located where the Vółhove River flows out of Lake Ielméri. Heading north, the Vółhove River empties into the massive Lake Ládoga. From here, it is possible to continue westward down the Nevá River to Néugrade and out into the Baltic Sea, or northeastward through a series of canals into the White Sea toward cities such as Arhánjeiske.
        Alternatively, it is possible to take the Mostá River, which empties into Lake Ielméri near Novegráde Velíkei. Parts of this river have been widened to accomodate medium-sized passenger ships. In Mostegráde there is a canal linking the Mostá River to the Tihuěrká River which continues towards the Russian city of Tver, from which it is possible to reach many other Russian cities, including Moscow, and continue all the way to the Caspian, Black, and Mediterranean Seas.
        %p However, no passenger ship in Novegráde Velíkei will actually make such long trips since they are in very short demand. Transfers to other passenger lines would be required. Generally, Néugrade and Mostegráde are as far as most passenger ships will go, though the occasional one will continue to as far away as Stockholm, Arhánjeiske, or Moscow. Such ships will stop for several hours in many cities along their routes, making them an excellent way to see many different places.

    %section
      %h2 Getting Around the City
      %section
        %h3 Private Vehicles
        %p Private vehicles by far allow the most freedom in travelling around Novegráde Velíkei. However, it is important to be aware that at certain times during the day traffic may be a major program, particularly early in the morning and during the late afternoon during weekdays on most major roads. In addition, except in the middle of the night, parking can be very hard to come by in the center of the city unless you have reserved spaces. There are a number of underground parking garages throughout the downtown, but they can be expensive.
        %p Cars are not permitted on some streets (known as pedestrian streets), most notably in Cerébici.

      %section
        %h3 The Metro
        %p The Metro is Novegráde Velíkei's extensive subway system, allowing easy and cheap movement around the city while completely avoiding traffic on the surface.
        %p The system has 10 primary lines and 101 stations. Each line is designated by a unique name, color, and (Cyrillic) numeral. Most of the lines are arranged as "spokes" linking the city center to the suburbs, with the exception of the silver Kołcévaia Line, which loops around the city and connects the "spokes", and and the rose Viśerineskáia Line, which operates in the eastern part of the city.
        %p One of the most interesting features of the Metro is how every station is uniquely and richly decorated, as in several other former Eastern bloc cities. Most stations are surfaced in marble rather than concrete and often have various types of artwork on display. Most stations have some sort of "theme" to their design, often linked to the station's name. For this reason, it is not unusual to find people touring the metro system. This can be done very cheaply, since as long as you do not leave the stations you can navigate the entire network for the cost of a single ticket, but be aware that Metro officials may become upset with you if they see you repeatedly getting on and off trains.
        %p In addition, at Solidarnostívaia Station, at the eastern terminus of the green Parkévaia Line, it is possible to transfer to the special Airport Line. This two station line connects Solidarnostívaia to the Śergéie Aleksándrovice Rubínine International Airport, with a single train running back and forth approximately every twenty minutes. This line is almost entirely above ground, but provides the easiest link between the city transport network and the airport while avoiding all traffic.
        %p The Metro has a flat fare of five marks (approximately USD 1.07, EUR 0.77), for which it is possible to simply use a 5 mark coin in the turnstyles or purchase farecards (available in set amounts: 25 marks/5 trips and 50 marks/10 trips). The city is currently in the process of installing machines capable of reading smartcards, which will automatically subtract money from an account that can be reloaded to any amount.
        .float-left
          = link_to image_path("government/novegradecity_metromap.png"), :class => 'lightbox' do
            = image_tag "government/novegradecity_metromap_sm.png", :alt => "Novegráde Velíkei Metro Map"
          %p Novegráde Velíkei Metro Map (click to enlarge)
        .float-left
          = link_to image_path("government/novegradecity_metro.png"), :class => 'lightbox' do
            = image_tag "government/novegradecity_metro_sm.png", :alt => "Geographically Accurate Metro Map"
          %p Geographically Accurate Metro Map (click to enlarge)
        %div{:style => "clear: both;"}

      %section
        %h3 Trams
        %p Much of the center of Novegráde Velíkei is served by trams (or streetcars), which operate on tracks that have been laid in the middle of roads. They are usually considered the best way to make short hops around the city center, since the metro is most commonly used for commuting. However, since they do run on city roads, they can be at the mercy of traffic conditions, though since they are most frequently used midday or on weekends, this generally does not pose a big problem.

      %section
        %h3 Trolleybuses and Míkros
        %p The trolleybuses and míkros fill most of the gaps left by the trams, whose network has not been expanded in several decades.
        %p The trolleybuses are a cheap, flexible extention to the the tram network operated by the city. They serve most parts of the city outside of the immediate downtown, since installing new cables for trolleybuses is much quicker and cheaper than installing new tracks for the trams. In particular they are frequently used by commuters who live in areas not currently serviced by the metro.
        %p The míkros (short for <i>míkrobuse</i>) are a popular, privately-owned transportation system, though under government supervision. Míkros (sometimes improperly called by their Russian name, marshrutkas) are shared taxis that run along set routes. They are usually minivans capable of seating no more than twelve passengers, often less. Unlike buses, however, they may stop at any point along their route rather than at designated bus stops.
        %p To get on a míkro, you generally must watch the road and wait for one to come by on its regular route. When you spot one, flag it down (usually done by extending your arm straight out). Get on, tell the driver where you want to stop, and pay the set fee. If you pay the driver a little extra, he may be willing to go slightly off his route to drop you off, though if any of the other passengers on the míkro are in a hurry, they may be a little annoyed.
        %p All míkros are privately owned, operated by one of several competing míkro companies in the city. All routes must be registered with the city, however. To ensure full service throughout the city, more lucrative routes are only given out to companies if they also agree to take on various less busy routes.

      %section
        %h3 Taxis
        %p If you don't have a car and don't want to hassle with public transportation and transfers, taxis are the best option. They can be requested by calling a taxi company or can occasionally be flagged down off the street, though you should not rely on the latter method. Many common destinations, especially the airports, usually will have taxis waiting for whoever wants them.
        %p However, taxis can be expensive and drivers will frequently take advantage of the fact that you most likely don't know the city, taking longer routes to increase the trip cost. It is important to make sure that whenever you get in a taxi that the driver has turned the meter on. Otherwise, when you reach your destination, the driver may demand a higher payment than the ride actually should have cost.
        %p Taxis are most commonly used by foreigners visiting the city. Most locals never use them.

      %section
        %h3 Hitch-Hiking
        %p Hitch-hiking is actually one of the most common ways of making short trips around the city amongst locals. Many people are more than willing to give people rides if they are going in the same direction, in exchange for a small fee.
        %p To flag down a private car, one generally stands in the street (just off the curb), holding an arm straight out into the street. If the street is busy, a car will most likely pull over within thirty seconds, often less. At this point you can talk to the driver and tell him where you are going. If it's not too far out of his way, you can negotiate a price and then get in. If he decides it's too inconvenient or you think he's charging too much, you can just try to flag down another car.
        %p This is frequently the cheapest and fastest way to get wherever you want to go, and locals will frequently hitch-hike. It is generally considered fairly safe, though is generally not recommended if you're a woman travelling by yourself or if you're currently in a questionable neighborhood. Foreigners should not hitch-hike unless they have a good command of the Novegradian language and have seen someone else do it at least once before.
